dyndoc/formats/schema/report_data.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
  <xsd:include schemaLocation="concept/assessment-plan.xsd" />
  <xsd:include schemaLocation="concept/allergy.xsd" />
  <xsd:include schemaLocation="concept/ap.xsd" />
  <xsd:include schemaLocation="concept/blood-bank.xsd" />
  <xsd:include schemaLocation="concept/charge.xsd" />
  <xsd:include schemaLocation="concept/cardiovascular.xsd" />
  <xsd:include schemaLocation="concept/charted-view.xsd" />
  <xsd:include schemaLocation="concept/document.xsd" />
  <xsd:include schemaLocation="concept/diagnosis.xsd" />
  <xsd:include schemaLocation="concept/family-history.xsd" />
  <xsd:include schemaLocation="concept/future-appointment.xsd" />
  <xsd:include schemaLocation="concept/follow-up.xsd" />
  <xsd:include schemaLocation="concept/generic-section.xsd" />
  <xsd:include schemaLocation="concept/goal.xsd" />
  <xsd:include schemaLocation="concept/graph.xsd" />
  <xsd:include schemaLocation="concept/health-concern.xsd" />
  <xsd:include schemaLocation="concept/hla.xsd" />
  <xsd:include schemaLocation="concept/immunization.xsd" />
  <xsd:include schemaLocation="concept/implantable-device.xsd" />
  <xsd:include schemaLocation="concept/intake-output.xsd" />
  <xsd:include schemaLocation="concept/lab-measurement.xsd" />
  <xsd:include schemaLocation="concept/patient-care-measurement.xsd" />
  <xsd:include schemaLocation="concept/patient-education.xsd" />
  <xsd:include schemaLocation="concept/power-plan.xsd" />
  <xsd:include schemaLocation="concept/pregnancy.xsd" />
  <xsd:include schemaLocation="concept/problem.xsd" />
  <xsd:include schemaLocation="concept/procedure.xsd" />
  <xsd:include schemaLocation="concept/medication-administration.xsd" />
  <xsd:include schemaLocation="concept/microbiology.xsd" />
  <xsd:include schemaLocation="concept/order.xsd" />
  <xsd:include schemaLocation="concept/radiology.xsd" />
  <xsd:include schemaLocation="concept/reconciliation-report.xsd" />
  <xsd:include schemaLocation="concept/service-resource.xsd" />
  <xsd:include schemaLocation="concept/social-history.xsd" />
  <xsd:include schemaLocation="global/code/code.xsd" />
  <xsd:include schemaLocation="common/date-time/date-time.xsd" />
  <xsd:include schemaLocation="common/date-time/fuzzy-date.xsd" />
  <xsd:include schemaLocation="common/address.xsd" />
  <xsd:include schemaLocation="global/person/person-alias.xsd" />
  <xsd:include schemaLocation="global/personnel/personnel.xsd" />
  <xsd:include schemaLocation="global/code/code.xsd" />
  <xsd:include schemaLocation="global/encounter.xsd" />
  <xsd:include schemaLocation="global/patient.xsd" />
  <xsd:include schemaLocation="common/healthplan/healthplan.xsd" />
  <xsd:include schemaLocation="common/dta.xsd" />
  <xsd:include schemaLocation="common/location.xsd" />
  <xsd:include schemaLocation="common/nomenclature.xsd" />
  <xsd:element name="clinical-data">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:appinfo>
            <jaxb:property name="clinical-data-elements"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:element ref="allergy-data"/>
        <xsd:element ref="ap-data" />
        <xsd:element ref="ap-history-data" />
        <xsd:element ref="assessment-plan-data" />
        <xsd:element ref="bb-crossmatch-data" />
        <xsd:element ref="bb-transfused-data" />
        <xsd:element ref="cardiovascular-data" />
        <xsd:element ref="charted-view-data"/>
        <xsd:element ref="diagnosis-data" />
        <xsd:element ref="document-data" />
        <xsd:element ref="encounter-data" />
        <xsd:element ref="family-history-data" />
        <xsd:element ref="follow-up-data" />
        <xsd:element ref="future-appointment-data" />
        <xsd:element ref="generic-section-data" />
        <xsd:element ref="goal-data" />
        <xsd:element ref="graph-data" />
        <xsd:element ref="health-concern-data"/>
        <xsd:element ref="hla-data" />
        <xsd:element ref="immunization-data" />
        <xsd:element ref="immunizationV2-data" />
        <xsd:element ref="implantable-device-data" />
        <xsd:element ref="intake-output-counts-data" />
        <xsd:element ref="intake-output-data" />
        <xsd:element ref="lab-measurement-data" />
        <xsd:element ref="medication-administration-data" />
        <xsd:element ref="microbiology-data" />
        <xsd:element ref="order-data" />
        <xsd:element ref="patient-care-measurement-data" />
        <xsd:element ref="patient-education-data" />
        <xsd:element ref="power-plan-data" />
        <xsd:element ref="pregnancy-data" />
        <xsd:element ref="problem-data" />
        <xsd:element ref="procedure-data" />
        <xsd:element ref="procedure-order-data" />
        <xsd:element ref="radiology-data" />
        <xsd:element ref="reconciliation-report-data" />
        <xsd:element ref="social-history-clinical-event-data" />
        <xsd:element ref="social-history-data" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="code-list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="code" type="codeType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="demographics">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="patient-info" type="patientType" />
        <xsd:element name="encounter-info" type="encounterType" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="healthplan-info" type="healthplanType" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="location-list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="location" type="locationType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="dta-list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="dta" type="dtaType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="nomenclature-list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nomenclature" type="nomenclatureType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="order-catalog-list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="order-catalog" type="orderCatalogType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="personnel-list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="personnel" type="personnelType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>  
  <xsd:element name="request-attributes">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Contains attributes mapped from the report request
        that generated this report.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="prsnl-reltn-address" type="addressType" minOccurs="0" />
        <xsd:element name="non-clinicalevent-qualification-begin-dt-tm" type="dateTimeType" minOccurs="0" />
        <xsd:element name="non-clinicalevent-qualification-end-dt-tm" type="dateTimeType" minOccurs="0" />
        <xsd:element name="print-dt-tm" type="dateTimeType" minOccurs="0" />
        <xsd:element name="request-begin-dt-tm" type="dateTimeType" minOccurs="0" />
        <xsd:element name="request-end-dt-tm" type="dateTimeType" minOccurs="0" />
      </xsd:sequence>
      <xsd:attribute name="accession-nbr" type="xsd:string" use="optional" />
      <xsd:attribute name="distribution-id" type="xsd:long" use="optional" />
      <xsd:attribute name="distribution-name" type="xsd:string" use="optional" />
      <xsd:attribute name="distribution-run-type" type="xsd:string" use="optional" />
      <xsd:attribute name="formatted-accession-nbr" type="xsd:string" use="optional" />
      <xsd:attribute name="order-id" type="xsd:long" use="optional" />
      <xsd:attribute name="print-dt-tm" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use print-dt-tm element
            instead.
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property name="print-dt-tm-deprecated" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="receiving-provider" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the id of a personnel in the
            personnel-list
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="request-begin-dt-tm" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use request-begin-dt-tm
            element instead.
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property name="request-begin-dt-tm-deprecated" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="request-end-dt-tm" type="xsd:dateTime" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use request-end-dt-tm
            element instead.
          </xsd:documentation>
          <xsd:appinfo>
            <jaxb:property name="request-end-dt-tm-deprecated" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="request-id" type="xsd:long" use="optional" />
      <xsd:attribute name="request-scope" type="xsd:int" use="optional" />
      <xsd:attribute name="requesting-provider" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the id of a personnel in the
            personnel-list
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="route-id" type="xsd:long" use="optional" />
      <xsd:attribute name="route-name" type="xsd:string" use="optional" />
      <xsd:attribute name="route-stop-id" type="xsd:long" use="optional" />
      <xsd:attribute name="route-stop-name" type="xsd:string" use="optional" />
      <xsd:attribute name="request-type-display" type="xsd:string" use="optional" />
      <xsd:attribute name="request-type-flag" type="xsd:int" use="optional" />
      <xsd:attribute name="patient-request-ind" type="xsd:boolean" use="optional" />
      <xsd:attribute name="release-requestor" type="xsd:string" use="optional" />
      <xsd:attribute name="release-destination" type="xsd:string" use="optional" />
      <xsd:attribute name="release-purpose" type="xsd:string" use="optional" />
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="encounter-data">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Additional encounter data, potentially not relating
        to the encounters requested. Since 3.8
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="encounter" type="encounterDataType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="report">
    <xsd:sequence>
      <xsd:element ref="clinical-data" />
      <xsd:element ref="demographics" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This section contains demographics information for the person and/or encounter.
            This is generally included in each report, but may not be here if it has been
            indicated that demographics should be excluded.
            It's being optional is new since 6.8.2
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="request-attributes" />
      <xsd:element ref="code-list" minOccurs="0" />
      <xsd:element ref="location-list" minOccurs="0" />
      <xsd:element ref="nomenclature-list" minOccurs="0" />
      <xsd:element ref="order-catalog-list" minOccurs="0" />
      <xsd:element ref="personnel-list" minOccurs="0" />
      <xsd:element ref="service-resource-list" minOccurs="0" />
      <xsd:element name="custodian-organization" type="organizationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This element represents the organization acting
            as the custodian of this health record. It will only be populated under the following
            conditions: 1. The load indicator to populate the client organization was set on the
            HealthRecordRetrievalCriteria. 2. For requests with a Person query type, all of the
            patient&#39;s encounters that are accessible by the receiving provider must share the same
            organization. 3. For requests with any other query type, all of the specified encounters must
            share the same organization. It must also be noted that even when the custodian organization
            is populated, the report may contain data created outside of the organization, particularly
            from person-level content types such as allergies, problems, etc.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="charge-data" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This element represents charge data from the
            charge services model.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="dta-list" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="report" type="report">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The root element of the report.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
</xsd:schema>
