dyndoc/formats/schema/concept/charted-view.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
  <xsd:include schemaLocation="../common/date-time/date-time.xsd"/>
  <xsd:include schemaLocation="../common/comment.xsd"/>

  <xsd:element name="charted-view-data">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="charted-view" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="charted-view">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="charted-sections-data" type="chartedSectionType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The list of Charted sections that were charted for the associated charting view.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="charted-view-id" type="xsd:long" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The unique id of the charted view activity data that has been charted.
            From NC_CHARTED_VIEW.NC_CHARTED_VIEW_ID.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="is-charting-allowed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">True if the Add Documentation Priv is Yes, false otherwise.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="charting-view-ref-ident" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The unique id of the reference data that defines the charted view.
            From NC_CHARTED_VIEW.NC_CHARTING_VIEW_ID if the Millennium installation is local
            or NC_CHARTED_VIEW.CLOUD_CHARTING_VIEW_IDENT if the Millennium installation is cloud-based.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="is-modifying-allowed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">True if the Modify Documentation Priv is Yes, false otherwise.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="is-inquiring-allowed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">True if the Result Inquiry Priv is Yes, false otherwise.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="is-uncharting-allowed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">True if the Unchart Documentation Priv is Yes, false otherwise.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="chartedSectionType">
    <xsd:sequence>
      <xsd:element name="charted-values" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The list of Charted Values that were charted for the associated charting section.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:choice maxOccurs="unbounded">
            <xsd:element name="alpha-charted-value" type="alphaChartedValueType"/>
            <xsd:element name="datetime-charted-value" type="datetimeChartedValueType"/>
            <xsd:element name="numeric-charted-value" type="numericChartedValueType"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="charted-section-id" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique id of the charted section activity data that has been charted.
          From NC_CHARTED_SECTION.NC_CHARTED_SECTION_ID.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="charting-section-ref-ident" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique id of the reference data that defines the charted section.
          From NC_CHARTED_VIEW.NC_CHARTING_SECTION_ID if the Millennium installation is local
          or NC_CHARTED_VIEW.CLOUD_CHARTING_SECTION_IDENT if the Millennium installation is cloud-based.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="chartedValueType">
    <xsd:sequence>
      <xsd:element name="comments" type="commentType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A list of comments associated to this charted value sorted by date/time chronologically if any exist.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status-code" type="xsd:long" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The codified status of this charted value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="chartedValueTypeEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The supported type of this charted value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="personnel-id" type="xsd:long" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The id of the personnel who charted this value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="group" type="chartedGroupType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The group this charted value is a part of if the value is part of a group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="occurring-dt-tm" type="dateTimeType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date and time this charted value occurred. (ISO 8601 format).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="charted-dt-tm" type="dateTimeType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date and time this value was charted by a personnel. (ISO 8601 format).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="charting-element-display" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The display of the charting element this value was charted for.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="display" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The display of this charted value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="charting-element-ref-ident" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier of the charting element this value was charted for.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="encounter-id" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier of the patient's encounter this value was charted on.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier of this charted value.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="is-modified" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">An indicator representing whether this charted value has been modified (true), or not (false).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="is-pull-forward" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">An indicator to determine if the value was charted natively (false) or from an outside source (true).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="alphaChartedValueType">
    <xsd:complexContent>
      <xsd:extension base="chartedValueType">
        <xsd:sequence>
          <xsd:element name="alpha-value-type" type="chartedAlphaValueTypeEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The supported alpha type of this charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="selected-responses" type="chartedResponseType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The sequenced list of responses selected for this alpha charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="text" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The text entered for this alpha charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="datetimeChartedValueType">
    <xsd:complexContent>
      <xsd:extension base="chartedValueType">
        <xsd:sequence>
          <xsd:element name="datetime-value-type" type="chartedDateTimeValueTypeEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The supported date/time value type of this charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="timezone" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The 'Human readable' canonical time zone associated to this date/time charted value, if there is one.
              Example: Central Standard Time. Can be null and may be non-unique.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timezone-id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the unique Olson time zone id of the date measurement.
              Example: America/Chicago. Can be null.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="numericChartedValueType">
    <xsd:complexContent>
      <xsd:extension base="chartedValueType">
        <xsd:sequence>
          <xsd:element name="normalcy" type="chartedNormalcyEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The supported normalcy for this numeric charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="numeric-value-type" type="chartedNumericValueTypeEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The supported numeric type of this charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="unit-code" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The codified units of measure associated to this numeric charted value.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="chartedGroupType">
    <xsd:sequence>
      <xsd:element name="status-code" type="xsd:long" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The codified status of the group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="display" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The display of the group.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="isActive" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">An indicator representing whether the group is active (true), or not (false).</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier of the group.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="chartedResponseType">
    <xsd:sequence>
      <xsd:element name="display" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The display of this response.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier of this response.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="chartedValueTypeEnum" final="restriction">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration xml:lang="en" value="NUMERIC"/>
      <xsd:enumeration xml:lang="en" value="DATE"/>
      <xsd:enumeration xml:lang="en" value="ALPHA"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="chartedAlphaValueTypeEnum" final="restriction">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration xml:lang="en" value="FREETEXT"/>
      <xsd:enumeration xml:lang="en" value="SELECTABLE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="chartedNormalcyEnum" final="restriction">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration xml:lang="en" value="NORMAL"/>
      <xsd:enumeration xml:lang="en" value="CRITICAL"/>
      <xsd:enumeration xml:lang="en" value="HIGH"/>
      <xsd:enumeration xml:lang="en" value="LOW"/>
      <xsd:enumeration xml:lang="en" value="ABNORMAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="chartedNumericValueTypeEnum" final="restriction">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration xml:lang="en" value="NUMERIC"/>
      <xsd:enumeration xml:lang="en" value="CALCULATED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="chartedDateTimeValueTypeEnum" final="restriction">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration xml:lang="en" value="DATETIME"/>
      <xsd:enumeration xml:lang="en" value="DATE"/>
      <xsd:enumeration xml:lang="en" value="TIME"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>