dyndoc/formats/schema/concept/charge.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
  <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
  <xsd:element name="charge">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Represents a billing charge from the charge table
        along with its associated billing codes from the charge_mod table.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cdm" type="billingCodeType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the Charge Description Master codes
              associated with this charge from the charge_mod table. It is generally considered improper
              build to have more than one CDM code per charge, but it is possible.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cpt" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the CPT (Level 1 HCPCS) procedure
              billing codes associated with this charge from the charge_mod table. It is generally
              considered improper build to have more than one CPT code per charge, but it is possible.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="nomenclatureBasedBillingCodeType">
                <xsd:sequence>
                  <xsd:element name="modifier" type="codeBasedBillingCodeType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="en">Represents a modifier code associated with
                        a CPT code as stored on the charge_mod table.
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="hcpcs" type="nomenclatureBasedBillingCodeType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the Level 2 HCPCS procedure billing
              codes associated with this charge from the charge_mod table. It is generally considered
              improper build to have more than one HCPCS code per charge, but it is possible.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="service-dt-tm" type="dateTimeType" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the service date of the charge (taken
              from the service_dt_tm field on the table).
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="charge-id" type="xsd:long" use="required">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the unique identifier for the charge
            (taken from the charge_item_id field on the table).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="accession-number" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the accession number of the order
            associated with this charge as represented on the charge_event table. It may be used to match
            charges to their clinical data by accession number when the order id is not available.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The id of the encounter associated with this
            charge (taken from the encntr_id field on the table).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="offset-charge-id" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The id of the associated charge that this charge
            is offsetting (taken from the offset_charge_item_id field on the table).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="order-id" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The id of the order associated with this charge
            (taken from the order_id field on the table). There may or may not be an order with with the
            given id within the list of non-medication-orders.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="process-flag" type="chargeProcessFlagType" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the status of the charge (taken from
            the process_flg field on the table).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="tier-group-code" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the identifier of the tier group code
            for the charge (taken from the tier_group_cd field on the table). There will be a code in the
            code-list element with this identifier.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="type-code" type="xsd:long" use="optional">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the identifier of the charge type code
            indicating whether the charge was a credit, debit, etc. (taken from the charge_type_cd field
            on the table). There will be a code in the code-list element with this identifier.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="charge-data">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="charge" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="billingCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Represents a billing code row from the charge_mod
        table.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="id" type="xsd:long" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier for this billing code (taken
          from the charge_mod field on the table).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The description of the billing procedure code
          (taken from the field7 field on the table).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="priority" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The priority of the billing procedure code (taken
          from the field2_id field on the table.)
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="value" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The value of the billing code (taken from the
          field6 field on the table).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="codeBasedBillingCodeType">
    <xsd:complexContent>
      <xsd:extension base="billingCodeType">
        <xsd:attribute name="code-id" type="xsd:long" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The id of the code from which this billing
              code&#39;s value and description are derived (taken from the field3_id field on the table).
              If this attribute is populated with a non-zero value, then a code with this id is guaranteed
              to exist in the code-list element and its description should be used as the source of truth
              rather than the description attribute modeled here.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="nomenclatureBasedBillingCodeType">
    <xsd:complexContent>
      <xsd:extension base="billingCodeType">
        <xsd:attribute name="nomenclature-id" type="xsd:long" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The id of the nomenclature from which this
              billing code&#39;s value and description are derived (taken from the nomenclature_id field on
              the table). If this attribute is populated with a non-zero value, then a nomenclature with
              this id is guaranteed to exist in the nomenclature-list element and its description
              should be
              used as the source of truth rather than the description attribute modeled here.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="chargeProcessFlagType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="PENDING" />
      <xsd:enumeration value="SUSPENDED" />
      <xsd:enumeration value="REVIEW" />
      <xsd:enumeration value="ON_HOLD" />
      <xsd:enumeration value="MANUAL" />
      <xsd:enumeration value="SKIPPED" />
      <xsd:enumeration value="COMBINED" />
      <xsd:enumeration value="ABSORBED" />
      <xsd:enumeration value="ABN_REQUIRED" />
      <xsd:enumeration value="OFFSET" />
      <xsd:enumeration value="ADJUSTED" />
      <xsd:enumeration value="GROUPED" />
      <xsd:enumeration value="UNRECONCILED_CREDIT" />
      <xsd:enumeration value="POSTED" />
      <xsd:enumeration value="BUNDLED_PROFIT" />
      <xsd:enumeration value="BUNDLED" />
      <xsd:enumeration value="BUNDLED_INTERFACED" />
      <xsd:enumeration value="OMF_STATS_ONLY" />
      <xsd:enumeration value="STATISTICS_ONLY" />
      <xsd:enumeration value="PHARMACY_NO_CHARGE" />
      <xsd:enumeration value="INTERFACED" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>