dyndoc/formats/schema/concept/document.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/image.xsd" />
    <xsd:include schemaLocation="../common/clinical-event.xsd" />
    <xsd:include schemaLocation="../global/code/coded-values.xsd" />
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:element name="document" type="documentType" />
    <xsd:element name="document-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="document" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="documentType">
        <xsd:complexContent>
            <xsd:extension base="documentBaseType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element ref="document-contribution" maxOccurs="unbounded" />
                        <xsd:element name="text-rendition" type="documentSectionType" />
                    </xsd:choice>
                    <xsd:element name="order-id" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Represents the order_id stored either on the
                                clinical_event table or on the ce_event_order_link table. For most clinical documents, this
                                will usually be empty, but for those associated with AP cases and Radiology exams, this will
                                typically be populated with a single order id. It is possible to have more than one order id
                                in rare cases where a document is referenced by multiple tasks, each associated to an order.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="form-reference-id" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">When the document represents a PowerForm, this
                            attribute will contain the dcp_forms_ref_id from the dcp_forms_ref_id table
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The identifier of the encounter associated with
                            this clinical event. If this attribute does not exist then it is a person level document.
                            From CLINICAL_EVENT.ENCNTR_ID. Since 3.12.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="documentBaseType" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="clinicalEventType">
                <xsd:sequence>
                    <xsd:element name="attachment" type="documentSectionType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="documentation-dt-tm" type="dateTimeType" minOccurs="0" />
                </xsd:sequence>
                <xsd:attribute name="is-published" type="xsd:boolean" use="required" />
                <xsd:attribute name="documentation-dt-tm" type="xsd:dateTime" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use documentation-dt-tm
                            element instead.
                        </xsd:documentation>
                        <xsd:appinfo>
                            <jaxb:property name="documentation-dt-tm-deprecated" />
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="longest-word-in-title-length" type="xsd:int" use="optional" />
                <xsd:attribute name="sequence" type="xsd:string" use="optional" />
                <xsd:attribute name="title" type="xsd:string" use="optional" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="document-contribution">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="section" type="documentSectionType" maxOccurs="unbounded" />
                <xsd:element name="documentation-dt-tm" type="dateTimeType" minOccurs="0" />
                <xsd:element name="participation" type="participationType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="event-id" type="xsd:long" use="optional" />
            <xsd:attribute name="sequence" type="xsd:string" use="optional" />
            <xsd:attribute name="status-code" type="xsd:long" use="optional" />
            <xsd:attribute name="version" type="xsd:long" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="documentSectionType">
        <xsd:complexContent>
            <xsd:extension base="documentBaseType">
                <xsd:sequence>
                    <xsd:choice>
                        <xsd:element name="externalBody">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">The value of this element is the handle to the
                                    external document.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="is-url" type="xsd:boolean" use="optional">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">Indicates whether or not the external
                                                    document is a pointer to a URL. Determined from the stoarge code on the external
                                                    body.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                        <xsd:attribute name="is-renderable" type="xsd:boolean" use="optional">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">Indicates whether or not the external
                                                    document was successfully loaded from the external system.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                        <xsd:attribute name="is-filtered" type="xsd:boolean" use="optional">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">Indicates whether or not the external
                                                    document existed but was filtered out. Currently, this may only be true for hemodynamic
                                                    reports. Since 3.14.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                        <xsd:attribute name="media-type" type="externalMediaType" use = "optional">
                                            <xsd:annotation>
                                                <xsd:documentation xml:lang="en">Identifies the media type of the external content</xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="imageBody">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="image" type="imageType" maxOccurs="unbounded" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="textBody" type="textType" />
                    </xsd:choice>
                    <xsd:element name="code-values" type="codedValuesType" minOccurs="0" />
                    <xsd:element name="signature-line" type="textType" minOccurs="0" />
                </xsd:sequence>
                <xsd:attribute name="correction-mode" type="xsd:int" use="optional" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="externalMediaType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">List of external content media types that can be included in the report. Since 5.16</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="TEXT">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the media type of the external content was text. Since 5.16</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="IMAGE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the media type of the external content was an image. Since 5.16</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>