dyndoc/formats/schema/concept/follow-up.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/text.xsd"/>
    <xsd:include schemaLocation="../common/address.xsd"/>
    <xsd:element name="follow-up-data">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Defines data that is intended to provide details
                    of the follow-up visit to the patient. Since 5.1
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element ref="follow-up" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="follow-up">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Defines all the required and optional fields that
                    could potentially return for a follow-up visit. Since 5.1
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="follow-up-location" type="followUpLocationType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Represents the address and phone details of the
                            patient follow-up document. Since 5.1
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="comment" type="textType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Represents the comment on the patient follow-up
                            document. From LONG_TEXT.LONG_TEXT extracted via PAT_ED_DOC_FOLLOWUP.CMT_LONG_TEXT_ID. Since
                            5.1
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="recipient" type="recipientType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Represents the recipient on the patient
                            follow-up document. From LONG_TEXT.LONG_TEXT extracted via
                            PAT_ED_DOC_FOLLOWUP.RECIPIENT_LONG_TEXT_ID. Since 5.1
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="follow-up-dt-tm" type="dateTimeType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Represents the date and time to follow-up
                            document. From PAT_ED_DOC_FOLLOWUP.FOL_WITHIN_DT_TM. Since 5.1
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="patient-education-follow-up-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the unique identifier of the
                        patient&#39;s follow-up visit. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="encounter-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the identifier of the encounter of the
                        patient&#39;s follow-up visit. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="provider-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the identifier of the patient&#39;s
                        follow-up provider. FROM PAT_ED_DOC_FOLLOWUP.PROVIDER_ID. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="provider-name" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the name of the provider that the
                        patient goes to for the follow-up visit. From PAT_ED_DOC_FOLLOWUP.PROVIDER_NAME. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="follow-up-within-range" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the date range of when the follow-up
                        should be completed. From PAT_ED_DOC_FOLLOWUP.FOL_WITHIN_RANGE. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="follow-up-value" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the number of days/weeks/months/years
                        when the follow-up needs to be completed where units are defined by the follow-up-unit
                        attribute. From PAT_ED_DOC_FOLLOWUP.FOL_WITHIN_DAYS. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="follow-up-unit" type="followUpUnit" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents whether the follow-up days should be
                        displayed as weeks or days or not at all (IGNORE for follow-up days). Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="quick-pick-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the quick pick code for the follow-up.
                        From PAT_ED_DOC_FOLLOWUP.QUICK_PICK_CD from CodeSet 20701. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="if-needed" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the indicator for the follow-up only
                        &quot;if needed&quot;. From PAT_ED_DOC_FOLLOWUP.FOLLOWUP_NEEDED_IND. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="location-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents the follow-up location if the
                        follow-up is in a clinic. From PAT_ED_DOC_FOLLOWUP.LOCATION_CD from CodeSet 220. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="org-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the organization. From
                        PAT_ED_DOC_FOLLOWUP.ORGANIZATION_ID. Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="followUpUnit">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="DAYS">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Determines that the follow-up should be displayed
                        in DAYS. From PAT_ED_DOC_FOLLOWUP.DAYS_OR_WEEKS. Value: 0
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="WEEKS">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Determines that the follow-up should be displayed
                        in WEEKS. From PAT_ED_DOC_FOLLOWUP.DAYS_OR_WEEKS. Value: 1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MONTHS">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">In this case the follow-up days should be
                        displayed in MONTHS. From PAT_ED_DOC_FOLLOWUP.DAYS_OR_WEEKS. Value: 2
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="YEARS">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">In this case the follow-up days should be
                        displayed in YEARS. From PAT_ED_DOC_FOLLOWUP.DAYS_OR_WEEKS. Value: 3
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="IGNORE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">In this case the follow-up days should not be
                        displayed. From PAT_ED_DOC_FOLLOWUP.DAYS_OR_WEEKS. Value: -1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="recipientType">
        <xsd:attribute name="email" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="hpd-provider-id" type="xsd:long" use="optional" />
        <xsd:attribute name="hpd-service-id" type="xsd:long" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="followUpLocationType">
        <xsd:sequence>
            <xsd:element name="follow-up-address" type="addressType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The follow up location address for the patient.
                        Since 5.1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="follow-up-phone-freetext" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the freetext value of follow up phone
                    details while retrieving follow up content type. From PAT_ED_DOC_FOLLOWUP.ADD_LONG_TEXT_ID.
                    Since 5.1
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>