dyndoc/formats/schema/concept/goal.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd"/>
    <xsd:include schemaLocation="../common/comment.xsd" />
    <xsd:element name="goal-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="goal" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="goal">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="goalType">
                    <xsd:sequence>
                        <xsd:element ref="intervention" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Actions that are being taken in order to achieve the goal. (Example: Educate about diabetes related complications)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="barrier-nomenclature-id" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">
                                    Items that could prevent the goal from being achieved. (Example: Medication pending, home environment etc.)
                                    Barrier entries are written out with a outcome_activity_detail_type_cd of OC_BARRIER from Codeset 4003308.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="goalType">
        <xsd:sequence>
            <xsd:element name="start-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date that the goal will be in an "In Progress" status.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="end-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date that the goal should be in a Met status.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="update-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date and time that the goal was last updated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="commentType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The comment associated with the goal. Only one is allowed per goal.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="category-code" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The category of the goal. Codeset 4003016.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="type-code" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The source who created the goal. Codeset 4003013.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="action" type="outcomeActionType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="description" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The description of the goal, or the outcome that the patient wants to reach.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier for outcome_activity_id from OUTCOME_ACTIVITY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="status-nomenclature-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The goal status nomenclature id.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="status-nomenclature-display" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The preferred goal status nomenclature display.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="outcome-activity-type-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The outcome_activity type code. Codeset 30320.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="creator-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The author of the goal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="update-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The person who last updated the goal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="priority" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The priority of the goal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The encounter associated with the goal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="expectation" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The expected value for the goal. The actual value would be something like "Goal Met" as the expectation.
                    This is stored in the Outcome_Activity table in EXPECTATION column.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="is-met" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Indicates whether this goal/intervention is met or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="intervention">
        <xsd:complexType>
        <xsd:complexContent>
            <xsd:extension base="goalType">
                <xsd:attribute name="frequency-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Description about how often the intervention is being done. Examples may include "Daily", "Every other day". Codeset 4003.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="target-duration" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The duration of the intervention.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="target-duration-unit-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The unit code for the duration of the intervention.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="confidence-level" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The display value of the confidence level of the patient to get the intervention in a Met Status. Example may include "confidence level 3".</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="outcomeActionType">
        <xsd:sequence>
            <xsd:element name="action-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="start-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="end-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="update-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1" />
            <xsd:element name="status-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="sequence" type="xsd:long" use="optional" />
        <xsd:attribute name="status-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The outcome action status code. Codeset 30182</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="target-type-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The target type code. Codeset 30180</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="update-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The update personnel id. This is the person_id of the person from the personnel table (prsnl)
                    that caused the last insert or update of the row in the table
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="update-count" type="xsd:long" use="optional" />
    </xsd:complexType>
</xsd:schema>