dyndoc/formats/schema/concept/hla.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/text.xsd" />
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:include schemaLocation="../common/date-time/fuzzy-date.xsd" />
    <xsd:include schemaLocation="../global/code/coded-values.xsd" />
    <xsd:include schemaLocation="../common/event/event.xsd" />
    <xsd:include schemaLocation="../common/event/event-comment.xsd" />
    <xsd:include schemaLocation="../common/action.xsd" />
    <xsd:include schemaLocation="../global/person/person-name.xsd" />
    <xsd:element name="hla-data">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Human leukocyte antigen (HLA) data retrieved
                through the HLA Content Type. Since 5.2
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="hla-typing" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="hla-typing">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The HLA Typing. Since 5.2</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="locus-result" type="hlaLocusResult" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The HLA Locus result. An HLA Locus result
                            corresponds to a value in CLINICAL_EVENT, CE_CODED_RESULT, DISCRETE_TASK_ASSAY,
                            CE_EVENT_PRSNL and CE_EVENT_NOTE tables.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="haplotype" type="hlaHaplotype" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The HLA Haplotype. An HLA Haplotype result
                            corresponds to a value in CLINICAL_EVENT, CE_STRING_RESULT and CE_EVENT_NOTE tables.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="relation-code" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Relationship of the person on HLA, associated
                            with the patient.From CodeSet 40
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="person-name" type="personNameType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Name of the person on HLA result associated with
                            the patient.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="person-alias" type="aliasType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">List of all person aliases associated with the
                            person.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="birth-dt-tm" type="fuzzyDateType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Date of birth of the person.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="abo-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">ABO code. ABO_CD field from table PERSON_ABORH.
                        From Codeset 1641.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="event-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The unique event identifier associated with the
                        HLA typing. From CLINICAL_EVENT.EVENT_ID table.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="person-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The person identifier for the HLA typing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="rh-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">RH code. RH_CD field from table PERSON_ABORH.
                        From CODESET 1642
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="hlaLocusResult">
        <xsd:sequence>
            <xsd:element name="valid-from-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The valid from date time for the HLA Locus
                        result. From CLINICAL_EVENT.VALID_FROM_DT_TM
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valid-until-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The valid until date time for the HLA Locus
                        result. From CLINICAL_EVENT.VALID_UNTIL_DT_TM
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="event-end-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The event end date time associated with the HLA
                        Haplotype. From CLINICAL_EVENT.EVENT_END_DT_TM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="collected-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Collected Date time is the collection date time
                        when the specimen was collected. From CE_SPECIMEN_COLL.COLLECT_DT_TM
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="performed-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Performed Date time is the performed date time
                        when the clinical activity was performed. From CLINICAL_EVENT.PERFORMED_DT_TM
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verified-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Verified Date time is when a clinical decision is
                        made based on the results. From CLINICAL_EVENT.VERIFIED_DT_TM
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="received-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Received Date time is the received date time when
                        the specimen was received. From CLINICAL_EVENT.RECEIVED_DT_TM
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="coded-result" type="codedValuesType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The coded result associated with this Locus.From
                        CE_CODED_RESULTS table.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="hlaResultComment" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The comment related to this Locus result. From
                        CE_EVENT_NOTE table.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="action" type="hlaLocusAction" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The event action personnel activity related to
                        this Locus.From CE_EVENT_ACTION table.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="result-history" type="hlaLocusResult" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The history of HLA Locus result. An HLA Locus
                        result corresponds to a value in CLINICAL_EVENT, CE_CODED_RESULT, DISCRETE_TASK_ASSAY,
                        CE_EVENT_PRSNL and CE_EVENT_NOTE tables.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="event-type" type="hlaEventType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The event code associated with the locus.From
                        CLINICAL_EVENT.EVENT_CD
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="order-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The unique order identifier associated with the
                    locus. From CLINICAL_EVENT.ORDER_ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="precedence-number" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The unique display identifier associated with the
                    locus. From HLA_DISPLAY_PRECEDENCE.PRECEDENCE_NUMBER
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="precedence-defined" type="xsd:boolean" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">This field is defined if there is a precedence number
                    associated with the HLA Display Precedence table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="event-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The unique event identifier associated with the
                    locus. From CLINICAL_EVENT.EVENT_ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="status-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The result status code of this Locus. From Codeset
                    8 and CLINICAL_EVENT.RESULT_STATUS_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="performing-location-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The performing location code of this Locus. From
                    Codeset 220 and CE_SPECIMEN_COLL.COLLECT_LOC_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="task-assay-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The task assay code of this Locus. From Codeset
                    14003 and CLINICAL_EVENT.TASK_ASSAY_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="catalog-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The catalog code of this Locus.From Codeset 200
                    and CLINICAL_EVENT.CATALOG_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="service-resource-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The service resource code of this Locus.From
                    Codeset 221 and CLINICAL_EVENT.RESOURCE_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="normalcy-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The normalcy code of this Locus. From Codeset 52
                    and CLINICAL_EVENT.NORMALCY_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="units-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The result units code of this Locus. From Codeset
                    54 and CLINICAL_EVENT.RESULT_UNITS_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="result-val" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The result value of this Locus.From
                    CLINICAL_EVENT.RESULT_VAL
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="verified-personnel-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The verified personnel identifier for this
                    locus.From CLINICAL_EVENT.VERIFIED_PRSNL_ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="hlaResultComment">
        <xsd:complexContent>
            <xsd:extension base="eventCommentType">
                <xsd:sequence>
                    <xsd:element name="valid-from-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The valid from date time for clinical event
                                note.From CE_EVENT_NOTE.VALID_FROM_DT_TM
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valid-until-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The valid until date time for clinical event
                                note.From CE_EVENT_NOTE.VALID_UNTIL_DT_TM
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="hlaHaplotype">
        <xsd:sequence>
            <xsd:element name="string-result" type="hlaHaplotypeStringResult" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The result of the Haplotype section for this
                        Haplotype.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="event-end-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The event end date time associated with the HLA
                        Haplotype. From CLINICAL_EVENT.EVENT_END_DT_TM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="result-comment" type="hlaResultComment" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The comment related to this Haplotype.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valid-from-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The valid from date time associated with the HLA
                        Haplotype. From CLINICAL_EVENT.VALID_FROM_DT_TM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valid-until-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The valid until date time associated with the HLA
                        Haplotype. From CLINICAL_EVENT.VALID_UNTIL_DT_TM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="history" type="hlaHaplotype" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The history of HLA Haplotype. A record in the
                        CE_STRING_RESULT table and a corresponding record in a CLINICAL_EVENT table.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="event-type" type="hlaEventType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The event code associated with the haplotype. From
                        CLINICAL_EVENT.EVENT_CD
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="event-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The event identifier of this Haplotype. From CLINICAL_EVENT.EVENT_ID</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="task-assay-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The task assay code of this Haplotype. From
                    Codeset 14003 and CLINICAL_EVENT.TASK_ASSAY_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="result-status-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The result status code of this Haplotype.From
                    Codeset 8 and CLINICAL_EVENT.RESULT_STATUS_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="verified-personnel-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The verified personnel identifier for this
                    Haplotype. From CLINICAL_EVENT.VERIFIED_PRSNL_ID
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="result-val" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The result val of this Haplotype.From
                    CLINICAL_EVENT.RESULT_VAL
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="catalog-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The catalog code of this Haplotype.From Codeset
                    200 and CLINICAL_EVENT.CATALOG_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="normalcy-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The normalcy code of this Haplotype.From Codeset
                    52 and CLINICAL_EVENT.NORMALCY_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="resource-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The resource code of this Haplotype.From Codeset
                    221 and CLINICAL_EVENT.RESOURCE_CD
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="hlaHaplotypeStringResult">
        <xsd:sequence>
            <xsd:element name="valid-from-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The valid from date time value for Haplotype
                        string result section.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valid-until-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The valid until date time value for the Haplotype
                        string result section.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="haplotype-id" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier of the Haplotype section for this
                    Haplotype. STRING_RESULT_TEXT (First value in the pair delimimted by a ";") field from
                    CE_STRING_RESULT table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="haplotype-result" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The Haplotype result. STRING_RESULT_TEXT(Second value in the pair delimimted by a ";") field
                    from CE_STRING_RESULT table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="result-text" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The Haplotype result text. STRING_RESULT_TEXT (The raw field)
                    field from CE_STRING_RESULT table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="result-format-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The haplotype format code. STRING_RESULT_FORMAT_CD
                    field from CE_STRING_RESULT table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="hlaLocusAction">
        <xsd:complexContent>
            <xsd:extension base="actionType">
                <xsd:sequence>
                    <xsd:element name="valid-from-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The valid until date time associated with the
                                action personnel of the locus.From CE_EVENT_ACTION.VALID_FROM_DT_TM
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valid-until-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The valid from date time associated with the
                                action personnel of the locus.From CE_EVENT_ACTION.VALID_UNTIL_DT_TM
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="hlaEventType">
        <xsd:complexContent>
            <xsd:extension base="eventType">
                <xsd:attribute name="hla-collation-sequence" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                            This number is used for grouping and ordering when displaying the various HLA results.
                            This comes from the backing CODE_VALUE.SEQUENCE
                            Since 6.5
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="aliasType">
        <xsd:sequence>
            <xsd:element name="begin-effective-dt-tm" type="dateTimeType" />
            <xsd:element name="end-effective-dt-tm" type="dateTimeType" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="alias" type="xsd:string" />
        <xsd:attribute name="alias-unformatted" type="xsd:string" />
        <xsd:attribute name="alias-type-cd" type="xsd:long" />
    </xsd:complexType>
</xsd:schema>