dyndoc/formats/schema/concept/immunization.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:include schemaLocation="../common/date-time/partial-date.xsd" />
    <xsd:include schemaLocation="../common/event/event-comment.xsd" />
    <xsd:include schemaLocation="../common/loose/loose-code.xsd" />
    <xsd:include schemaLocation="../common/quantity.xsd" />
    <xsd:include schemaLocation="../common/clinical-event.xsd" />
    <xsd:include schemaLocation="../common/order-clinical-event.xsd" />
    <xsd:include schemaLocation="../common/event/event.xsd" />
    <xsd:include schemaLocation="../common/event/event-note.xsd" />
    <xsd:include schemaLocation="../common/event/event-order.xsd" />
    <xsd:element name="immunization-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="vaccination" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="immunizationV2-data">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Immunization data retrieved through the
                ImmunizationV2 Content Type. Since 3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Supported Immunization types. Although it is
                        guaranteed that at least one of the below Immunization types is populated, consumers should
                        check against each individual type&#39;s content to safeguard against new Immunization types
                        that may be added in the future.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:element name="given" type="immunizationGivenType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="not-given" type="immunizationNotGivenType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="recorded" type="immunizationRecordedType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="immunizationBaseType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Base Immunization extended by all Immunization
                types within the ImmunizationV2 data. Since 3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="charted-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date of the &#39;PERFORM&#39; participation.
                        From CE_EVENT_PRSNL.ACTION_DT_TM and CE_EVENT_PRSNL.ACTION_TZ.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="eventCommentType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The comments of the Immunization.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="location" type="looseCodeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The location of the Immunization. This may be a
                        freetext value in the case of Recorded Immunizations, or a location code in the case of Given
                        or Not Given Immunizations. For Recorded Immunization, this is the location that the historic
                        Immunization was delivered at. For other Immunizations, this is the location of the facility
                        on the encounter where the Immunization was charted and delivered or refused.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order" type="immunizationOrderType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The orders tied to the immunization.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vaccine" type="immunizationVaccineType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The Vaccine of an Immunization.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="charted-personnel" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The personnel of the &#39;PERFORM&#39;
                    participation. From CE_EVENT_PRSNL.PERSON_ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="contributor-system-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The code of the contributor system. From
                    CLINICAL_EVENT.CONTRIBUTOR_SYSTEM_CD, code set 89.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The encounter id of the immunization. From
                    CLINICAL_EVENT.ENCNTR_ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="event-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The event id of the immunization. From
                    CLINICAL_EVENT.EVENT_ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="is-uncharted" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">True if the immunization&#39;s result status code
                    is &#39;INERROR&#39;. From CLINICAL_EVENT.RESULT_STATUS_CD, code set 8.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proxy-personnel" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The proxy personnel of the immunization. From
                    CE_EVENT_PRSNL.PROXY_PRSNL_ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="immunizationGivenStatementType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A Statement given to the person. Since 3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="given-partial-dt-tm" type="partialDateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date the VIS (Vaccine Information Statement)
                        was provided to the patient or their parent/guardian. From
                        IMMUNIZATION_MODIFIER.VIS_PROVIDED_ON_DT_TM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="published-partial-dt-tm" type="partialDateType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The version date printed on the VIS (Vaccine
                        Information Statement) for the related expectation. From IMMUNIZATION_MODIFIER.VIS_DT_TM.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="display" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The statement display of the given vaccine. From
                    the definition of the code value pointed to by IMMUNIZATION_MODIFIER.VIS_CD if available,
                    otherwise from IMMUNIZATION_MODIFIER.EXPECT_MEANING.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="immunizationGivenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An Immunization given to the patient represented by
                a status of &quot;AUTH&quot;, &quot;ALTERED&quot;, or &quot;MODIFIED&quot;. Since 3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="immunizationBaseType">
                <xsd:sequence>
                    <xsd:element name="admin-dosage" type="quantityType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The actual volume or quantity administered as
                                well as the unit of measurement for the dosage (Tablet, ml, etc.). From
                                CE_MED_RESULT.ADMIN_DOSAGE and CE_MED_RESULT.DOSAGE_UNIT_CD, code set 54.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="admin-dt-tm" type="dateTimeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date the immunization was administered.
                                From CLINICAL_EVENT.EVENT_END_DT_TM and CLINICAL_EVENT.EVENT_END_TZ.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="expiration-partial-dt-tm" type="partialDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The expiration date of the medical substance
                                adminstered. From CE_MED_RESULT.SUBSTANCE_EXP_DT_TM.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="given-statement" type="immunizationGivenStatementType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The statements given to the patient.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="admin-personnel" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The id of the personnel adminstering the
                            immunization. From CE_EVENT_PRSNL.PERSON_ID where the participation type is PERFORM.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="admin-route-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Route of administration (PO-per oral,
                            IM-intramuscular, SQ-subcutaneous, etc.). From CE_MED_RESULT.ADMIN_ROUTE_CD, code set 4001.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="admin-site-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The body site the immunization was administered
                            through (left arm, right foot, etc.). From CE_MED_RESULT.ADMIN_SITE_CD, code set 97.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="dose-number" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The number in a sequence of administered
                            medications. From CLINICAL_EVENT.CLINICAL_SEQ.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="funding-source-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The funding source code associated to the
                            immunization. From IMMUNIZATION_MODIFIER.FUNDING_SOURCE_CD, code set 4002904.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="lot-nbr" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Lot number of the medical substance
                            administered. From CE_MED_RESULT.SUBSTANCE_LOT_NUMBER.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="manufacturer-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The manufacturer of the medical substance
                            administered. From CE_MED_RESULT.SUBSTANCE_MANUFACTURER_CD, code set 4007.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="vfc-status-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The code that identifies the VFC (Vaccines for
                            Children) status for the related expectation. From IMMUNIZATION_MODIFIER.VFC_STATUS_CD, code
                            set 30741.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ndc" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The National drug code (NDC) value that was documented as the
                            administered product.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="ndc-product-display" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The display value of the product for the NDC value.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="immunizationNotGivenReasonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The codified reason stating why an Immunization was
                not given. Since 3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="CONTRAINDICATION">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the not-given reason was for
                        expiration or postpone reasons and the reason code is from code set 30440 or 30441.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="REFUSED">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the not-given reason was because
                        of patient or parent/guardian refusal and the reason code is from code set 30442.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UNKNOWN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the refusal code was from a code
                        set other than 30440, 30441 or 30442.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="immunizationNotGivenType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An Immunization that has not been given to the
                patient represented by a status of &quot;NOT DONE&quot;. From CLINICAL_EVENT.SOURCE_CD, code set
                30200. Since 3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="immunizationBaseType">
                <xsd:sequence>
                    <xsd:element name="decision-dt-tm" type="dateTimeType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date the decision was made not to give the
                                Immunization. From CLINICAL_EVENT.EVENT_END_DT_TM.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="reason-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The code representing the not-given reason. From
                            CE_MED_RESULT.REFUSAL_CD, code sets 30440, 30441, 30442.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="reason-type" type="immunizationNotGivenReasonType" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The type of not-given reason representing the
                            code set the reason-code came from.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="immunizationOrderType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An order associated to an Immunization. Since 3.12.</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="order-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The order id tied to the immunization. From
                    CLINICAL_EVENT.ORDER_ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="immunizationRecordedType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An Immunization not given to the patient
                represented by a populated source code. From CLINICAL_EVENT.SOURCE_CD, code set 30200. Since
                3.12.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="immunizationBaseType">
                <xsd:sequence>
                    <xsd:element name="admin-dosage" type="quantityType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The actual volume or quantity administered as
                                well as the unit of measurement for the dosage (Tablet, ml, etc.). From
                                CE_MED_RESULT.ADMIN_DOSAGE and CE_MED_RESULT.DOSAGE_UNIT_CD, code set 54.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="admin-partial-dt-tm" type="partialDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The date the immunization was administered.
                                From CLINICAL_EVENT.EVENT_END_DT_TM and CLINICAL_EVENT.EVENT_END_TZ.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="expiration-partial-dt-tm" type="partialDateType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The expiration date of the medical substance
                                adminstered. From CE_MED_RESULT.SUBSTANCE_EXP_DT_TM.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="given-statement" type="immunizationGivenStatementType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The statements given to the patient.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="admin-personnel" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The id of the personnel adminstering the
                            immunization. From CE_MED_RESULT.ADMIN_PROV_ID.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="admin-route-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Route of administration (PO-per oral,
                            IM-intramuscular, SQ-subcutaneous, etc.). From CE_MED_RESULT.ADMIN_ROUTE_CD, code set 4001.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="admin-site-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The body site the immunization was administered
                            through (left arm, right foot, etc.). From CE_MED_RESULT.ADMIN_SITE_CD, code set 97.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="dose-number" type="xsd:int" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The number in a sequence of administered
                            medications. From CLINICAL_EVENT.CLINICAL_SEQ.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="funding-source-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The funding source code associated to the
                            immunization. From IMMUNIZATION_MODIFIER.FUNDING_SOURCE_CD, code set 4002904.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="lot-nbr" type="xsd:string" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Lot number of the medical substance
                            administered. From CE_MED_RESULT.SUBSTANCE_LOT_NUMBER.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="manufacturer-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The manufacturer of the medical substance
                            administered. From CE_MED_RESULT.SUBSTANCE_MANUFACTURER_CD, code set 4007.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="vfc-status-code" type="xsd:long" use="optional">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The code that identifies the VFC (Vaccines for
                            Children) status for the related expectation. From IMMUNIZATION_MODIFIER.VFC_STATUS_CD, code
                            set 30741.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="immunizationVaccineType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">The Vaccine of an Immunization. Since 3.12.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="event-type" type="eventType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The event code for this product.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="vaccination">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="clinicalEventType">
                    <xsd:sequence>
                        <xsd:element name="admin-dosage" type="quantityType" minOccurs="0" />
                        <xsd:element name="admin-note" type="eventNoteType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use
                                    vaccination-admin-note element instead.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="admin-strength" type="quantityType" minOccurs="0" />
                        <xsd:element name="order" type="eventOrderType" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="substance" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="expiration-dt-tm" type="dateTimeType" minOccurs="0" />
                                </xsd:sequence>
                                <xsd:attribute name="expiration-dt-tm" type="xsd:dateTime" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use expiration-dt-tm
                                            element instead.
                                        </xsd:documentation>
                                        <xsd:appinfo>
                                            <jaxb:property name="expiration-dt-tm-deprecated" />
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="lot" type="xsd:string" use="optional" />
                                <xsd:attribute name="manufacturer-code" type="xsd:long" use="optional" />
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="admin-start-dt-tm" type="dateTimeType" minOccurs="0" />
                        <xsd:element name="vaccination-admin-note" type="eventCommentType" minOccurs="0" />
                        <xsd:element name="not-done-reason" type="looseCodeType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Represents the reason the immunization was not
                                    done. Populated if the CLINICAL_EVENT.RESULT_STATUS_CD is NOT DONE from Code Set 8.
                                    From
                                    CE_CODED_RESULT.RESULT_CD if codified or CE_STRING_RESULT.STRING_RESULT_TEXT if freetext.
                                    All measurements now support not done reason, Since 5.9.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="admin-route-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="admin-site-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="admin-start-dt-tm" type="xsd:dateTime" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use admin-start-dt-tm
                                element instead.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <jaxb:property name="admin-start-dt-tm-deprecated" />
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="age-at-administration" type="xsd:string" use="optional" />
                    <xsd:attribute name="refusal-reason-code" type="xsd:long" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The code representing the not-given reason populated only when the result
                                has a status code of &quot;Not Done&quot; on CLINICAL_EVENT.RESULT_STATUS_CD. From
                                CE_MED_RESULT.REFUSAL_CD, code sets 30440, 30441, 30442.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The encounter ID corresponding to the immunization. From
                                CLINICAL_EVENT.ENCNTR_ID
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>