dyndoc/formats/schema/concept/implantable-device.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:include schemaLocation="../common/date-time/fuzzy-date.xsd" />
    <xsd:include schemaLocation="../common/comment.xsd" />
    <xsd:element name="implantable-device-data">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Defines data that is intended to provide details of the patient's implantable devices. Since 5.13</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element ref="implantable-device" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="implantable-device">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Defines all the required and optional fields that could potentially return for a implant device. Since 5.13</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="implant-material" type="implantMaterialType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Defines the material information about the implant device. Since 5.13</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="implant-review" type="implantReviewType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Defines the review information of the implant device. Since 5.13</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="expiration-dt-tm" type="dateTimeType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The date time indicating when the implant device will expired in the patient's body.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="explant-dt-tm" type="fuzzyDateType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The date time indicating when the implant device was removed from patient's body.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="implanted-dt-tm" type="fuzzyDateType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The date time indicating when the implant device was inserted in the patient's body.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="manufacturer-dt-tm" type="dateTimeType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The date time indicating when the implant device was manufactured.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="comment" type="textType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The comment (in plain text format) associated with the implanted device</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="encounter-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The encounter identifier of the the patient assocaited with the implant device.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="history-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The history identifier of the implant device.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="item-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The item identifier of the implant device.From ITEM_MASTER.ITEM_ID</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="item-display" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The display/name of the item if it's stored in ITEM_MASTER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="item-freetext" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The item free text (in plain text) of the implant device. This value is only filled for ADHOC input.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The type code of the implant device. From Code Set 11034.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="biology-imp-src-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The biological source code of the implant indicating from where the implant came from (May be human, porcine, bovine and so on). From Code Set 4003374.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="non-biology-imp-type-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The non biological type code of an implant indicating whether the implant is an active type device (e.g. pacemaker) or non-active type (e.g. screw, plates etc). From Code Set 4003373.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="body-site-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates the body site where device was implanted (may be abdomen, shoulder , arm and so on). From Code Set 1028.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="data-source-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Code value to identify how this implant device information was added. (May be Patient Chart, Device Scan and so on). From Code Set 4003377.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="explant-reason-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The reason code for the removal of implanted device from the patient's body. This value is only obtained when the implanted device has been explanted. From Code Set 4003473.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="implanted-facility-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The facility code where patient implant took place. From Code Set 222.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="implanted-facility-freetext" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The facility free text where patient implant took place. This value is only filled for ADHOC input.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="personnel-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the personnel that install the implant device in the patient.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="personnel-freetext-name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The Free text name of the personnel that install the implant device in the patient.This value is only filled for ADHOC input.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="lot-number" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The lot number of the implant device in the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="manufacturer-classification-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Manufacturer MR classification code (from code set 4003376) of an implant device.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="parent-entity-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The entity identifier for finding the implantable device parent record. For example , two surgical procedures are performed under the
                        same encounter. Each procedures may have a different implantable device. So for a particular procedure, just qualifying on the PERSON_ID/ENCNTR_ID will
                        return both devices. So to narrow down the returned data further, the parent_entity_id could be used to identify the actual procedure an implant device is related to
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="parent-entity-name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The entity identifier for finding the implantable device parent record. For example , two surgical procedures are performed under the
                        same encounter. Each procedures may have a different implantable device. So for a particular procedure, just qualifying on the PERSON_ID/ENCNTR_ID will
                        return both devices. So to narrow down the returned data further, the parent_entity_name could be used to identify the actual procedure an implant device is related to
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="manufacturer-code" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The manufacturer code of the implant device. From Code Set 221.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="manufacturer-freetext" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The freetext name of the manufacturer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="manufacturer-model-number" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The manufacturer model number of the implant device.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="procedure-code" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The procedure code while implanting the device in the patient's body.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="procedure-freetext" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The procedure freetext while implanting the device in the patient's body. This value is only filled for ADHOC input.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="implanted-quantity" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The total number of this implanted device inside the patient.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="serial-number" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The serial number of the implant device.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="udi" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The universal device identifier of the implant device.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="donor-number" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The text field which contains the donor number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="procedure-nomenclature-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The nomenclature identifier associated with the implant procedure in a codified format.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="surgery-procedure-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The surgery identifier used to group implants together under the same surgical procedure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="procedure-modifiers" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Additional details of where/what procedures were done. (e.g. "Upper Right").</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="implantMaterialType">
        <xsd:attribute name="material-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The code value from Code Set 4003375 representing the material used in the implant device.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="implantReviewType">
        <xsd:sequence>
            <xsd:element name="review-dt-tm" type="dateTimeType">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The date time when the personnel reviewed the device.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="personnel-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier of the personnel who reviewed the device.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>