dyndoc/formats/schema/concept/medication-administration.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:include schemaLocation="../common/quantity.xsd" />
    <xsd:include schemaLocation="../common/participation.xsd" />
    <xsd:include schemaLocation="../common/measurement.xsd" />
    <xsd:include schemaLocation="../common/order-synonym.xsd" />
    <xsd:include schemaLocation="../common/event/event.xsd" />
    <xsd:include schemaLocation="../common/event/event-note.xsd" />
    <xsd:include schemaLocation="../common/event/event-order.xsd" />
    <xsd:include schemaLocation="../common/event/event-comment.xsd" />
    <xsd:include schemaLocation="../common/loose/loose-code.xsd" />

    <xsd:element name="medication-administration-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="continuous-medication-administration" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="medication-measurement" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="non-continuous-medication-administration" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="not-done" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="continuous-medication-administration">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="medicationAdministrationType">
                    <xsd:sequence>
                        <xsd:element name="dose" type="quantityType" minOccurs="0" />
                        <xsd:element name="initial-volume" type="quantityType" minOccurs="0" />
                        <xsd:element name="volume" type="quantityType" minOccurs="0" />
                        <xsd:element name="volume-rate" type="quantityType" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:attribute name="iv-action-type" type="ivActionType" use="required" />
                    <xsd:attribute name="bolus-type-code" type="xsd:long" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The bolus type code is used to represent the bolus (an amount of IV medication administered
                                rapidly to decrease the response time or to be used as a loading does prior to an infusion) type (i.e., LOADING, PCA)
                                which can be documented during bolus administrations. From code set 4428005. From CE_MED_RESULT.BOLUS_TYPE_CD.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="medication-measurement">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="measurementType">
                    <xsd:sequence>
                        <xsd:element name="order" type="eventOrderType" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="non-continuous-medication-administration">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="medicationAdministrationType" />
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="not-done">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="event-type" type="eventType" />
                <xsd:element name="event-note" type="eventNoteType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use comment element
                            instead.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="not-done-reason" type="looseCodeType" minOccurs="0" />
                <xsd:element name="order" type="eventOrderType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="participation" type="participationType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="comment" type="eventCommentType" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="event-end-dt-tm" type="dateTimeType" />
                <xsd:element name="updt-dt-tm" type="dateTimeType" />
            </xsd:sequence>
            <xsd:attribute name="event-end-dt-tm" type="xsd:dateTime" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use event-end-dt-tm element
                        instead.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:property name="event-end-dt-tm-deprecated" />
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="updt-dt-tm" type="xsd:dateTime" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use updt-dt-tm element
                        instead.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:property name="updt-dt-tm-deprecated" />
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="event-id" type="xsd:long" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="medicationAdministrationType" abstract="true">
        <xsd:sequence>
            <xsd:element name="associated-measurement" type="measurementType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="associated-weight" type="quantityType" minOccurs="0" />
            <xsd:element name="event-note" type="eventNoteType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use comment element
                        instead.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="medication-ingredient" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="event-type" type="eventType" />
                        <xsd:element name="dose" type="quantityType" minOccurs="0" />
                        <xsd:element name="dose-rate" type="quantityType" minOccurs="0" />
                        <xsd:element name="initial-dose" type="quantityType" minOccurs="0" />
                        <xsd:element name="initial-volume" type="quantityType" minOccurs="0" />
                        <xsd:element name="order-synonym" type="orderSynonymType" minOccurs="0" />
                        <xsd:element name="volume" type="quantityType" minOccurs="0" />
                        <xsd:element name="remaining-volume" type="quantityType" minOccurs="0">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">The total volume of the ingredient which is wasted after the administration.
                                    From CE_MED_RESULT.REMAINING_VOLUME and CE_MED_RESULT.REMAINING_VOLUME_UNIT_CD. From Since 6.10
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="sequence" type="xsd:long" use="optional" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="not-given-reason" type="looseCodeType" minOccurs="0" />
            <xsd:element name="order" type="eventOrderType" minOccurs="0" />
            <xsd:element name="participation" type="participationType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="comment" type="eventCommentType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="event-end-dt-tm" type="dateTimeType" />
            <xsd:element name="event-start-dt-tm" type="dateTimeType" minOccurs="0" />
            <xsd:element name="updt-dt-tm" type="dateTimeType" />
        </xsd:sequence>
        <xsd:attribute name="event-end-dt-tm" type="xsd:dateTime" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use event-end-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="event-end-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="event-id" type="xsd:long" use="optional" />
        <xsd:attribute name="event-start-dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use event-start-dt-tm
                    element instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="event-start-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="route-code" type="xsd:long" use="optional" />
        <xsd:attribute name="site-code" type="xsd:long" use="optional" />
        <xsd:attribute name="status" type="medAdminStatusType" use="optional" />
        <xsd:attribute name="updt-dt-tm" type="xsd:dateTime" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use updt-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="updt-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="medAdminStatusType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="AUTH" />
            <xsd:enumeration value="IN_ERROR" />
            <xsd:enumeration value="MODIFIED" />
            <xsd:enumeration value="NOT_GIVEN" />
            <xsd:enumeration value="UNAUTH" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ivActionType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="BEGIN_BAG" />
            <xsd:enumeration value="BOLUS" />
            <xsd:enumeration value="INFUSE" />
            <xsd:enumeration value="RATE_CHANGE" />
            <xsd:enumeration value="SITE_CHANGE" />
            <xsd:enumeration value="UNKNOWN" />
            <xsd:enumeration value="WASTE" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>