dyndoc/formats/schema/concept/microbiology.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/order-clinical-event.xsd" />
    <xsd:include schemaLocation="../common/specimen-collection.xsd" />
    <xsd:include schemaLocation="../common/quantity.xsd" />
    <xsd:element name="microbiology-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="micro-culture" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="micro-culture">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="orderClinicalEventType">
                    <xsd:sequence>
                        <xsd:element ref="micro-organism" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="micro-report" type="microDocType" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="micro-stain" type="microDocType" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="specimen-collection" type="specimenCollectionType" minOccurs="0" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="micro-organism">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="susceptibility-test" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="susceptibility-detail" maxOccurs="unbounded" />
                        </xsd:sequence>
                        <xsd:attribute name="method-code" type="xsd:long" use="optional" />
                        <xsd:attribute name="test-sequence-nbr" type="xsd:long" use="optional" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="organism-code" type="xsd:long" use="required" />
            <xsd:attribute name="occurrence-nbr" type="xsd:string" use="optional" />
            <xsd:attribute name="org-sequence-nbr" type="xsd:long" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="microDocType">
        <xsd:sequence>
            <xsd:element name="participation" type="participationType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="text" type="textType" />
            <xsd:element name="dt-tm" type="dateTimeType" minOccurs="0" />
            <xsd:element name="isolate-workup" type="isolateWorkupType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Isolate workup for the non-stain report. This
                        will not be populated on stain reports. Since 3.8.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long" use="optional" />
        <xsd:attribute name="dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use dt-tm element instead.</xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="is-published" type="xsd:boolean" use="optional" />
        <xsd:attribute name="status-code" type="xsd:long" use="optional" />
        <xsd:attribute name="type-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">For microbiology stains, this field will always be
                    populated with the stain name (the event code the stain result is tied to). For microbiology
                    reports, this field will always be populated with the microbiology report type OR the report
                    name (event code), depending on whether or not the report type is classified. If the report
                    type is classified, meaning the event code is linked to a task code and the type code has a CDF
                    Meaning of AMENDED, FINAL, or PRELIM, this field will be populated with the microbiology report
                    type. If the report type is not classified, meaning the event code is not linked to a task
                    code, this field will be populated with the event code.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type-display" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">This field is populated with the event code
                    display only if the report type is not classified. See the type-code attribute for more
                    details.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="susceptibility-detail">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="susceptibility-result" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="type-code" type="xsd:long" use="required" />
            <xsd:attribute name="detail-sequence-nbr" type="xsd:long" use="optional" />
            <xsd:attribute name="is-interpretation" type="xsd:boolean" use="optional" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="susceptibility-result">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="susceptibilityResultValueType">
                    <xsd:sequence>
                        <xsd:element name="susceptibility-footnote" type="eventNoteType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use footnote element
                                    instead.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="footnote" type="eventCommentType" minOccurs="0" maxOccurs="unbounded" />
                        <xsd:element name="antibiotic-trade-names" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:attribute name="name" type="xsd:string" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">
                                            Identifies the generic trade name associated with the antibiotic. Found at MIC_MED_TRADE_NAME.TRADE_NAME.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="sequence" type="xsd:int" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">
                                            Contains a unique value for each trade name associated with an antibiotic. The
                                            first trade name would be assigned sequence 1, and the second trade name would be
                                            assigned sequence 2, etc. Found at MIC_MED_TRADE_NAME.TRADE_NAME_SEQ
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="primary-indicator" type="xsd:boolean" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">
                                            Indicates whether the trade name is the primary trade name. Found at MIC_MED_TRADE_NAME.PRIMARY_IND
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="dosage" type="xsd:string" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">
                                            Identifies the standard dosage of the antibiotic for the defined trade name. Found at MIC_MED_TRADE_NAME.DOSAGE
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="cost-per-dose" type="xsd:string" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">
                                            Identifies the cost per dose of the antibiotic for the defined trade name. Found at MIC_MED_TRADE_NAME.COST_PER_DOSE
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="is-chartable" type="xsd:boolean" use="optional" />
                    <xsd:attribute name="panel-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="antibiotic-code" type="xsd:long" use="optional" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="susceptibilityResultValueType">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="dilution-code" type="xsd:long" />
                <xsd:element name="interpretation-code" type="xsd:long" />
                <xsd:element name="zone" type="quantityType" />
                <xsd:element name="free-text-value" type="xsd:string" />
            </xsd:choice>
            <xsd:element name="susceptibility-history-instance" type="susceptibilityResultValueType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="dt-tm" type="dateTimeType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use dt-tm element instead.</xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="result-prsnl" type="xsd:long" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="isolateWorkupType">
        <xsd:attribute name="micro-seq-nbr" type="xsd:int" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">This identifies the sequence of the isolate
                    workup. CE_SUSCEPTIBILITY.MICRO_SEQ_NBR.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>