dyndoc/formats/schema/concept/order.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/text.xsd" />
    <xsd:include schemaLocation="../common/date-time/fuzzy-date.xsd" />
    <xsd:include schemaLocation="../common/loose/loose-code.xsd" />
    <xsd:include schemaLocation="../common/order-synonym.xsd" />
    <xsd:element name="order-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="medication-order" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="non-medication-order" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="medication-order">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="orderType">
                    <xsd:sequence>
                        <xsd:element name="free-text-pharmacy-signature" type="textType" minOccurs="0" />
                        <xsd:element name="pharmacy-comment" type="textType" minOccurs="0" />
                        <xsd:element name="mar-note" type="textType" minOccurs="0" />
                        <xsd:element name="medication-ingredient" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="dose" minOccurs="0">
                                        <xsd:complexType>
                                            <xsd:attribute name="freetext-dose" type="xsd:string" use="optional" />
                                            <xsd:attribute name="ordered" type="xsd:double" use="optional" />
                                            <xsd:attribute name="ordered-unit-code" type="xsd:long" use="optional" />
                                            <xsd:attribute name="strength" type="xsd:double" use="optional" />
                                            <xsd:attribute name="strength-unit-code" type="xsd:long" use="optional" />
                                            <xsd:attribute name="volume" type="xsd:double" use="optional" />
                                            <xsd:attribute name="volume-unit-code" type="xsd:long" use="optional" />
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="order-synonym" type="orderSynonymType" minOccurs="0" />
                                    <xsd:element name="type" type="orderIngredientType" />
                                </xsd:sequence>
                                <xsd:attribute name="clinical-name" type="xsd:string" use="optional" />
                                <xsd:attribute name="department-name" type="xsd:string" use="optional" />
                                <xsd:attribute name="sequence" type="xsd:int" use="optional" />
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="order-compliance" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Order Compliance records taken for this
                                    Medication Order from tables ORDER_COMPLIANCE and ORDER_COMPLIANCE_DETAIL. Since 3.1.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="comment" type="textType" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">The comment on the order compliance record.
                                                From LONG_TEXT via ORDER_COMPLIANCE_DETAIL.LONG_TEXT_ID.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="last-occurred-dt-tm" type="fuzzyDateType" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">The last time the patient took the
                                                medication, procedure, etc. From ORDER_COMPLIANCE_DETAIL.LAST_OCCURRED_DT_TM,
                                                ORDER_COMPLIANCE_DETAIL.LAST_OCCURRED_TZ and
                                                ORDER_COMPLIANCE_DETAIL.LAST_OCCURRED_DT_ONLY_IND.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="performed-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
                                        <xsd:annotation>
                                            <xsd:documentation xml:lang="en">The date and time the compliance record was
                                                captured. From ORDER_COMPLIANCE.PERFORMED_DT_TM and
                                                ORDER_COMPLIANCE.PERFORMED_TZ.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="encounter-id" type="xsd:long" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">The encounter ID of the encounter the
                                            compliance was captured on. From ORDER_COMPLIANCE.ENCNTR_ID.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="information-source-code" type="xsd:long" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">The order compliance information source
                                            (code set 12023) from ORDER_COMPLIANCE_DETAIL.INFORMATION_SOURCE_CD eg. Patient,Parent,
                                            etc.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="order-compliance-detail-id" type="xsd:long" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">The primary key of ORDER_COMPLIANCE_DETAIL
                                            table for this record.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="performed-prsnl-id" type="xsd:long" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">The ID of the personnel that captured the
                                            compliance record. From ORDER_COMPLIANCE.PERFORMED_PRSNL_ID.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="status-code" type="xsd:long" use="optional">
                                    <xsd:annotation>
                                        <xsd:documentation xml:lang="en">The order compliance status (code set 30254)
                                            from ORDER_COMPLIANCE_DETAIL.COMPLIANCE_STATUS_CD eg. Not taking, Still taking,
                                            etc.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="indication" type="looseCodeType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">These are indications on the medication order.
                                    From the ORDER_DETAIL table where the ORDER_DETAIL.OE_FIELD_DISPLAY_VALUE is INDICATION.
                                    Since 3.13</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="medication-order-type-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="originally-ordered-as-type" type="originallyOrderedAsType" use="optional" />
                    <xsd:attribute name="drug-form-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="preferred-dose" type="preferredDoseType" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">This flag represents that when there are both
                                volume and strength(dose) fields, strength(dose) will be preferred over volume for the
                                medication order.From ORDER_CATALOG_SYNONYM table where
                                ORDER_CATALOG_SYNONYM.PREFERRED_DOSE_FLAG is the PREFERREDDOSE. Since 3.18
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="total-fills" type="xsd:decimal" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">This value represents the number of refills
                                plus Millennium&#39;s initial fill.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="dispense-quantity" type="xsd:decimal" use="optional" />
                    <xsd:attribute name="dispense-quantity-unit-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="requested-dispense-duration" type="xsd:decimal" use="optional" />
                    <xsd:attribute name="requested-dispense-duration-unit-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="route-of-administration-code" type="xsd:long" use="optional" />
                    <xsd:attribute name="patient-notes" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Notes to the patient. From discharge
                                reconciliation report (ORDER_RECON and ORDER_RECON_DETAIL tables) and will only be the most
                                current notes to the patient for the medication order. Since 3.13
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="routing-pharmacy-id" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">This is the identifier of the pharmacy of which
                                the medication order was routed to in the case of Prescription orders. From ORDER_DETAIL
                                where OE_FIELD_MEANING_ID is 1564 and OE_FIELD_MEANING is ROUTINGPHARMACYID. Since 3.13
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="proof-of-prescription-id" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The proof of prescription identifier from where the pharmacy received the prescription.
                                From ORDER_DETAIL where OE_FIELD_MEANING is RXPROOFOFPRESCRIPTIONID and OE_FIELD_MEANING_ID is 6034. Since 6.13
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="non-medication-order">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="orderType">
                    <xsd:sequence>
                        <xsd:element name="carbon-copy-provider-id" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en">Represents the provider stored on the order_entry_detail table with meaning id for Carbon Copied Provider (3589) associated to
                                    this order. This provider is notified when the results are documented for this order. It is possible to have multiple providers carbon copied for a single order.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="is-supergroup-child" type="xsd:boolean" use="optional" />
                    <xsd:attribute name="referred-to-provider-id" type="xsd:long" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The identifier of the referred to provider.
                                This is the provider the person has been referred to for additional care. This is included
                                in reference data as part of the global personnel-list.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="referred-to-provider-free-text-name" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The free text name of the referred to provider.
                                This is the provider the person has been referred to for additional care.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="reason-for-referral" type="xsd:string" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">The free text description of reason for
                                referral. This is a brief description of why the person is being referred to a provider for
                                additional care.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="orderType" abstract="true">
        <xsd:sequence>
            <xsd:element name="order-synonym" type="orderSynonymType" />
            <xsd:element name="consulting-provider-id" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="order-schedule" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="frequency" minOccurs="0">
                            <xsd:complexType>
                                <xsd:choice>
                                    <xsd:element name="day-of-week-frequency">
                                        <xsd:complexType>
                                            <xsd:complexContent>
                                                <xsd:extension base="timeOfDayOrderFrequencyType">
                                                    <xsd:sequence>
                                                        <xsd:element name="day-of-week" type="dayOfWeekType" minOccurs="0" maxOccurs="unbounded" />
                                                    </xsd:sequence>
                                                </xsd:extension>
                                            </xsd:complexContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="hybrid-frequency">
                                        <xsd:complexType>
                                            <xsd:complexContent>
                                                <xsd:extension base="timeOfDayOrderFrequencyType">
                                                    <xsd:attribute name="interval" type="xsd:int" use="optional" />
                                                    <xsd:attribute name="interval-unit" type="intervalUnitType" use="optional" />
                                                </xsd:extension>
                                            </xsd:complexContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="interval-frequency">
                                        <xsd:complexType>
                                            <xsd:complexContent>
                                                <xsd:extension base="orderFrequencyType">
                                                    <xsd:attribute name="interval" type="xsd:int" use="optional" />
                                                    <xsd:attribute name="interval-unit" type="intervalUnitType" use="optional" />
                                                </xsd:extension>
                                            </xsd:complexContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name="one-time-frequency" type="orderFrequencyType" />
                                    <xsd:element name="time-of-day-frequency" type="timeOfDayOrderFrequencyType" />
                                    <xsd:element name="unscheduled-frequency" type="orderFrequencyType" />
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="original-order-dt-tm" type="dateTimeType" minOccurs="0" />
                        <xsd:element name="start-dt-tm" type="dateTimeType" minOccurs="0" />
                        <xsd:element name="stop-dt-tm" type="dateTimeType" minOccurs="0" />
                    </xsd:sequence>
                    <xsd:attribute name="is-constant" type="xsd:boolean" use="optional" />
                    <xsd:attribute name="is-prn" type="xsd:boolean" use="optional" />
                    <xsd:attribute name="original-order-dt-tm" type="xsd:dateTime" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use original-order-dt-tm
                                element instead.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <jaxb:property name="original-order-dt-tm-deprecated" />
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="start-dt-tm" type="xsd:dateTime" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use start-dt-tm element
                                instead.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <jaxb:property name="start-dt-tm-deprecated" />
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="stop-dt-tm" type="xsd:dateTime" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use stop-dt-tm element
                                instead.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <jaxb:property name="stop-dt-tm-deprecated" />
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="stop-type-cd" type="xsd:long" use="optional" />
                    <xsd:attribute name="infuse-over-duration" type="xsd:decimal" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">This attribute only applies to medication
                                orders.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="infuse-over-unit-code" type="xsd:long" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">This attribute only applies to medication
                                orders.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="accession-nbr" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="order-comment" type="textType" minOccurs="0" />
            <xsd:element name="order-action" type="orderActionType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="administration-note" type="textType" minOccurs="0" />
            <xsd:element name="diagnosis" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="id" type="xsd:long" use="required" />
                    <xsd:attribute name="nomenclature-id" type="xsd:long" use="optional" />
                    <xsd:attribute name="priority" type="xsd:int" use="optional" />
                    <xsd:attribute name="group-id" type="xsd:long" use="optional">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Representing the identification that remains
                                consistent across all historical instances of a diagnosis. This associates to the id
                                attribute in the clinical-diagnosis Type. Since 3.9.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="classification-code-value" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Representing the diagnosis classification code value (from code set 12033).
                                Corresponds to diagnosis.classification (must be >= 0). Since 6.11.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="source-identifier" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Representing the identifier for the nomenclature within its vocabulary.
                                Corresponds to nomenclature.source_identifier (cannot be null). Since 6.11.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="annotated-display" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Representing the annotated display.
                                Corresponds to diagnosis.diagnosis_display OR potential_diagnosis.diagnosis_display. Since 6.11.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="target-vocabulary-code" type="xsd:long">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="en">Representing the target vocabulary cd from codeset 400.
                                Corresponds to nomenclature.source_vocab_cd (must be >= 0). Since 6.11.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="icd9-nomenclature-id" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="order-review-information" type="orderReviewInformationType" minOccurs="0" />
            <xsd:element name="data-entry-dt-tm" type="dateTimeType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="order-id" type="xsd:long" use="required" />
        <xsd:attribute name="clinical-display-line" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The clinical display line for the action. May be
                    truncated if the length is over what the system can handle.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="clinical-name" type="xsd:string" use="optional" />
        <xsd:attribute name="data-enterer-id" type="xsd:long" use="optional" />
        <xsd:attribute name="data-entry-dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use data-entry-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="data-entry-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="department-name" type="xsd:string" use="optional" />
        <xsd:attribute name="department-status-code" type="xsd:long" use="optional" />
        <xsd:attribute name="display-mnemonic" type="xsd:string" use="optional" />
        <xsd:attribute name="end-state-reason-code" type="xsd:long" use="optional" />
        <xsd:attribute name="order-status-code" type="xsd:long" use="optional" />
        <xsd:attribute name="reference-name" type="xsd:string" use="optional" />
        <xsd:attribute name="responsible-provider-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The id of the personnel who bears responsibility for the order, based on
                    performing the most recent action.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="originally-entered-by-provider-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The id of the personnel who originally entered the order. Since 4.3</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="template-order-id" type="xsd:long" use="optional" />
        <xsd:attribute name="template-order-type" type="templateOrderType" use="optional" />
        <xsd:attribute name="special-instructions" type="xsd:string" use="optional" />
        <xsd:attribute name="encounter-id" type="xsd:long" use="optional" />
        <xsd:attribute name="filtered-responsible-provider-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The ID of the provider who bears responsibility for the order, based on
                    performing the most recent of a filtered set of considered actions
                    (ignoring actions such as Complete and Status Change).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="care-plan-name" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The name of the plan that this order is a part of.
                    Since 3.2
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="full-clinical-display-line" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The full clinical display line for the order. It
                    is the non-truncated form of clinical display line. Since 4.0
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="orderIngredientType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="MEDICATION" />
            <xsd:enumeration value="DILUENT" />
            <xsd:enumeration value="ADDITIVE" />
            <xsd:enumeration value="COMPOUND_PARENT" />
            <xsd:enumeration value="COMPOUND_CHILD" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="orderFrequencyType">
        <xsd:attribute name="frequency-id" type="xsd:long" use="required" />
        <xsd:attribute name="frequency-code" type="xsd:long" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="orderReviewType">
        <xsd:sequence>
            <xsd:element name="review-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The time at which the review is performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="sequence" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The sequence of the review.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="status" type="reviewStatus" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The status of the review. Examples include
                    Accepted, Rejected, and Reviewed
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="reviewType" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The type of the review. Examples include Clinical,
                    Pharmicist, and Physician.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="review-dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use review-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="review-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="review-provider-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Identifies the provider that performed the review.
                    This is included in reference data as part of the global personnel-list
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="templateOrderType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="NOT_TEMPLATE" />
            <xsd:enumeration value="TEMPLATE" />
            <xsd:enumeration value="ORDER_BASED_INSTANCE" />
            <xsd:enumeration value="RX_BASED_INSTANCE" />
            <xsd:enumeration value="FUTURE_RECURRING_TEMPLATE" />
            <xsd:enumeration value="FUTURE_RECURRING_INSTANCE" />
            <xsd:enumeration value="TASK_BASED_INSTANCE" />
            <xsd:enumeration value="PROTOCOL" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="originallyOrderedAsType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="NORMAL" />
            <xsd:enumeration value="PRESCRIPTION" />
            <xsd:enumeration value="DOCUMENTED" />
            <xsd:enumeration value="PATIENTS_OWN_MEDS" />
            <xsd:enumeration value="PHARMACY_CHARGE_ONLY" />
            <xsd:enumeration value="SATELLITE" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="reviewStatus">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ACCEPTED" />
            <xsd:enumeration value="ADMINISTRATION_CLEARED" />
            <xsd:enumeration value="NO_LONGER_NEEDING_REVIEW" />
            <xsd:enumeration value="NOT_REVIEWED" />
            <xsd:enumeration value="REJECTED" />
            <xsd:enumeration value="REVIEWED" />
            <xsd:enumeration value="SUPERCEDED" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="reviewType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="CLINICAL_REVIEW" />
            <xsd:enumeration value="DOCTOR_COSIGN" />
            <xsd:enumeration value="NURSE_REVIEW" />
            <xsd:enumeration value="PHARMACIST_VERIFY" />
            <xsd:enumeration value="PHYSICIAN_ACTIVATE" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="orderActionType">
        <xsd:sequence>
            <xsd:element name="order-comment" type="textType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The order comment written with the action,
                        represented by a comment. Will not be returned if there was no comment change during this
                        action. Will be returned if there was a comment change during this action.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="administration-note" type="textType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The administration note written with the action,
                        represented by a comment. Will not be returned if there was no comment change during this
                        action. Will be returned if there was a comment change during this action.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order-review" type="orderReviewType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Reviews that have been written for the action.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="action-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The time at which the action occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="sequence" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The sequence at which this action was taken.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type-code" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">A value represented from code set 6003. Examples
                    include Order, Refill, Review
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="data-enterer-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Identifies the user who entered the action into
                    the system. This is included in reference data as part of the global personnel-list
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="action-dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use action-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="action-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="responsible-provider-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Identifies the provider is responsible for the
                    action. This is included in reference data as part of the global personnel-list.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="communication-type-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">A value represented from code set 6006. Examples
                    include Phone, Verbal, Written
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="supervising-provider-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Identifies the supervising provider for the
                    action. This is included in reference data as part of the global personnel-list
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="clinical-display-line" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The clinical display line for the action. May be
                    truncated if the length is over what the system can handle.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ingredient-mnemonic" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated. Attribute has never been used or
                    populated.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="is-comment-removed" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Valued true if the comment was removed during the
                    action.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="is-admin-note-removed" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Valued true if the administration note was removed
                    during the action.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="orderCatalogType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the Order Catalog Type Information
                associated with this case from the ORDER_CATALOG table.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="order-catalog-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the CATALOG_CD column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="activity-type-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the ACTIVITY_TYPE_CD column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="catalog-type-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the CATALOG_TYPE_CD column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="cki" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the CKI column on the ORDER_CATALOG
                    table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="clinical-category-code" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the DCP_CLIN_CAT_CD column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the DESCRIPTION column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the PRIMARY_MNEMONIC column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="orderable-type" type="orderableType" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the ORDERABLE_TYPE_FLAG column on the
                    ORDER_CATALOG table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="orderableType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="NORMAL" />
            <xsd:enumeration value="SUPERGROUP" />
            <xsd:enumeration value="CARE_PLAN" />
            <xsd:enumeration value="AP_SPECIAL" />
            <xsd:enumeration value="DEPARTMENT_ONLY" />
            <xsd:enumeration value="ORDER_SET" />
            <xsd:enumeration value="HOME_HEALTH_PROBLEM" />
            <xsd:enumeration value="MULTI_INGREDIENT" />
            <xsd:enumeration value="INTERVAL_TEST" />
            <xsd:enumeration value="FREETEXT" />
            <xsd:enumeration value="TPN" />
            <xsd:enumeration value="ATTACHMENT" />
            <xsd:enumeration value="COMPOUND" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="timeOfDayOrderFrequencyType">
        <xsd:complexContent>
            <xsd:extension base="orderFrequencyType">
                <xsd:sequence>
                    <xsd:element name="time-of-day" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="hour-of-day" type="xsd:int" use="required" />
                            <xsd:attribute name="minute-of-hour" type="xsd:int" use="required" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="intervalUnitType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="MINUTES" />
            <xsd:enumeration value="HOURS" />
            <xsd:enumeration value="DAYS" />
            <xsd:enumeration value="WEEKS" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="dayOfWeekType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="SUNDAY" />
            <xsd:enumeration value="MONDAY" />
            <xsd:enumeration value="TUESDAY" />
            <xsd:enumeration value="WEDNESDAY" />
            <xsd:enumeration value="THURSDAY" />
            <xsd:enumeration value="FRIDAY" />
            <xsd:enumeration value="SATURDAY" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="orderReviewInformationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the Order Review Information associated
                with this case from the Orders table.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="nurse-review-required" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the NEED_NURSE_REVIEW_IND column on the
                    Orders table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pharmacy-verification-status" type="pharmacyVerificationStatusType" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the NEED_RX_VERIFY_IND column on the
                    Orders table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pharmacy-clinical-review-status" type="pharmacyClinicalReviewStatusType" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the NEED_RX_CLIN_REVIEW_FLAG column on
                    the Orders table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="physician-validation-status" type="physicianValidationStatusType" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the NEED_PHYSICIAN_VALIDATE_IND column
                    on the Orders table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="physician-cosignature-status" type="physicianCosignatureStatusType" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the NEED_DOCTOR_COSIGN_IND column on
                    the Orders table.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="pharmacyVerificationStatusType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="REQUIRED" />
            <xsd:enumeration value="NOT_REQUIRED" />
            <xsd:enumeration value="REJECTED" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="pharmacyClinicalReviewStatusType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="UNSET" />
            <xsd:enumeration value="NEEDED" />
            <xsd:enumeration value="COMPLETED" />
            <xsd:enumeration value="REJECTED" />
            <xsd:enumeration value="DOES_NOT_APPLY" />
            <xsd:enumeration value="SUPERCEDED" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="physicianValidationStatusType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="REQUIRED" />
            <xsd:enumeration value="NOT_REQUIRED" />
            <xsd:enumeration value="REFUSED" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="physicianCosignatureStatusType">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="REQUIRED" />
            <xsd:enumeration value="NOT_REQUIRED" />
            <xsd:enumeration value="REFUSED" />
            <xsd:enumeration value="UNKNOWN" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>