dyndoc/formats/schema/concept/pregnancy.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/fuzzy-date.xsd" />
    <xsd:include schemaLocation="../common/text.xsd" />
    <xsd:element name="pregnancy-data">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="active-pregnancy"  minOccurs="0" maxOccurs="1" />
          <xsd:element ref="historical-pregnancies"  minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="active-pregnancy">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          This element will contain the details of the currently active pregnancy.
          In case of no active pregnancy charted, this section will not be included in the response.
          A person can have no more than one active pregnancy at any given time so there will be no more
          than one active pregnancy element in the response.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="pregnancy-estimate" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="pregnancy-id" type="xsd:long" use="required"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="historical-pregnancies">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          This element will contain all the historical pregnancies details.
          In case no historical pregnancies charted for the patient, This element will not be included in the response.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="pregnancy" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="pregnancy">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="pregnancy-start-dt-tm" type="dateTimeType"/>
          <xsd:element name="pregnancy-end-dt-tm" type="dateTimeType" minOccurs="0"/>
          <xsd:element name="is-sensitive" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Indicates if the pregnancy needs to be handled according to rules for sensitivity</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element ref="pregnancy-child-info" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="pregnancy-id" type="xsd:long" use="required"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="pregnancy-child-info">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          This element contains the information of the new born related to the pregnancy.
          There can be more than one child in a pregnancy (like twins or triplets) so each pregnancy
          can contain multiple child-information elements. The data in this section mostly corresponds to the data in
          Pregnancy_Child database table in millennium.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en"> Name of the child. Corresponds to PREGNANCY_CHILD.CHILD_NAME in millennium
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="anesthesia" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en"> Free text description of type of anesthesia used during delivery procedure. Corresponds to PREGNANCY_CHILD.ANESTHESIA_TXT in millennium
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="delivery-dt-tm" type="fuzzyDateType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en"> Date/time at which the child was delivered. Corresponds to PREGNANCY_CHILD.DELIVERY_DT_TM in millennium
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="delivery-time-zone" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A string populated with the Olson identifier for
                this date&#39;s timezone (ie. &quot;America/Chicago&quot;).This is the timezone where the baby was delivered.
                Corresponds to PREGNANCY_CHILD.DELIVERY_TZ in millennium
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="delivery-hospital" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en"> Hospital in which the child was delivered. Corresponds to PREGNANCY_CHILD.DELIVERY_HOSPITAL in millennium
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="delivery-method-code" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The code value for the method by which the child was delivered. Corresponds to PREGNANCY_CHILD.DELIVERY_METHOD_CD in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="father-name" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Name of the Father of the child. Corresponds to PREGNANCY_CHILD.FATHER_NAME in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="gender-code" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Code value representing the gender of the child. Corresponds to PREGNANCY_CHILD.GENDER_CD in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="labor-duration" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Duration in minutes of the labor for the delivery of the child. Corresponds to PREGNANCY_CHILD.LABOR_DURATION in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="neonate-outcome-code" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Code value which indicates the outcome of the pregnancy for the child. Corresponds to PREGNANCY_CHILD.NEONATE_OUTCOME_CD in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="is-restricted" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A value of true indicates that the relationship between the person_id and this pregnancy has been made restricted and should not be used to correlate data from that chart with the pregnancy. Corresponds to PREGNANCY_CHILD.RESTRICT_PERSON_ID_IND in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="weight" type="quantityType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Code value which indicates the outcome of the pregnancy for the child. Corresponds to PREGNANCY_CHILD.WEIGHT_AMT in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="begin-effective-dt-tm" type="dateTimeType" minOccurs="0"/>
          <xsd:element name="end-effective-dt-tm" type="dateTimeType" minOccurs="0"/>
          <xsd:element name="comment" type="textType" minOccurs="0"/>
          <xsd:element ref="pregnancy-child-entity-component" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute type="xsd:long" name="new-born-id" use="required"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="pregnancy-estimate">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="estimated-delivery-date" type="dateType" minOccurs="0"/>
          <xsd:element name="estimate-time-zone" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A string populated with the Olson identifier for
                this date&#39;s timezone (ie. &quot;America/Chicago&quot;).This is the timezone where the estimate was performed.</xsd:documentation>
              </xsd:annotation>
          </xsd:element>
          <xsd:element name="estimated-gestational-age" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Gestation age during the time of estimate in number of days.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="estimate-delivery-date-method-code" type="xsd:long" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The code for the method by which the delivery date was determined. Corresponds to PREGNANCY_ESTIMATE.METHOD_CD in millennium</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="performed-prsnl-dt-tm" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="performed-prsnl-id" type="xsd:long"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="pregnancy-child-entity-component">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This elements contain additional information related to a child during the pregnancy or
      time of birth. The information is presented in a key/value format where the key defines the type of information and
      the values defines the collection of information.
      For example, key : "Mother Complications" Values: ["Pre-eclampsia", "Cord prolapse","Fever greater than 100.4"]
      Corresponds to PREGNANCY_CHILD_ENTITY_R table in millennium</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="entity-key" type="xsd:string" minOccurs="1"/>
        <xsd:element name="entity-value" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
</xsd:schema>
