dyndoc/formats/schema/concept/reconciliation-report.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:element name="reconciliation-report-data">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Contains details about reconciliation during the
                    discharge process. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="reconciliation-report-order" type="reconciliationReportOrder" maxOccurs="unbounded" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">List of report-order-details acquired during the
                            reconciliation within the discharge process. Since 5.4
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="reconciliationReportOrder">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents order information which comes from the
                Discharge Report. Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="report-order-detail" type="reportOrderDetail" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The information about what order details were
                        used while building this report order. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="diagnoses" type="reportOrderDiagnoses" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The information for the collection of diagnosis, could be empty. Since 5.8
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="routing-information" type="reportRoutingInformation" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The routed information for the order, if it was routed. Could be empty. Since 5.8
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="patient-instructions" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The instructions of the order in a patient friendly fashion. Since 5.4</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="order-comments" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The order comment. Since 5.4</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="order-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier of the order. Will not be present
                    if this reconciliationDetail is for a change of venue order not created from an existing order.
                    From ORDERS.ORDER_ID. Since 5.4.
                    Note, as of 5.8, orders will not be present in the order-data section of the report
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="order-name" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The name of the order. Since 5.4</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="order-detail-line" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The simplified display line of the order. Since
                    5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ordering-physician" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The order physician. Since 5.4</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="order-indication" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The order indication values. Since 5.4</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="report-order-type" type="dischargeReportOrderType" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The type of discharge order this report order is
                    for. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="detail-line-dose-type" type="detailLineDoseType" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The information about what does types were used in
                    the building of the detail line. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="reportOrderDiagnoses">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A list of Report Order Diagnosis. Since 5.8</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="diagnosis" type="reportOrderDiagnosis" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reportOrderDiagnosis">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Maps to DischargeReportOrderDiagnosis. Since 5.8
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="priority" type="xsd:long">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Priority as defined by the user when selecting multiple order diagnoses.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="annotated-display" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Diagnosis display containing clinician's annotations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="originating-display" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Diagnosis's target nomenclature display.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type-code" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Type code of the diagnosis.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="reportOrderDetail">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents an order detail. Since 5.4</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="detail-code-value" type="dischargeDetailCodeValueType" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="detail-dt-tm-value" type="dischargeDetailDateTimeValueType" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="detail-indicator-value" type="dischargeDetailIndicatorValueType" maxOccurs="1" minOccurs="0" />
            <xsd:element name="detail-numeric-value" type="dischargeDetailNumericValueType" maxOccurs="unbounded" minOccurs="0" />
            <xsd:element name="detail-text-value" type="xsd:string" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="detail-field-type" type="orderDetailFieldType" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Represents the possible types of order entry
                    fields. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="detail-field-meaning" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">List of the available order entry field meanings.
                    Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="reportRoutingInformation">
        <xsd:sequence>
            <xsd:element name="pharmacy" type="reportPharmacy" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The pharmacy this prescription order was sent to</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="rx-printed-indicator" type="xsd:int">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Is 1 if the order was printed, 0 otherwise</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="rx-other-indicator" type="xsd:int">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">
                    The order's other indicator (Do not send reason was chosen, faxed was chosen, or no routing option was not chosen).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="dischargeReportOrderType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Enumeration for the type of continuation which
                should taken on an order after the reconciliation occurs. Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="FILL">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation-report-order is
                        for an Order that the patient should start taking after discharge. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CONTINUE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation-report-order is
                        for an Order that the patient should continue taking after discharge. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CONTINUE_WITH_CHANGES">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation-report-order is
                        for an Order that the patient should continue taking, but with changes, after discharge. Since
                        5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="STOP">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation-report-order is
                        for an Order that the patient should stop taking after discharge. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CONTACT_PHYSICIAN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation-report-order is
                        for an Order that the patient should should check with their physician before taking after
                        discharge. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="detailLineDoseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the dose type used in the discharge
                detail line. Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="NONE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represents no dose type. Since 5.4</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SPECIAL_INSTRUCTIONS">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that special instructions replaced
                        dose. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="STRENGTH">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the dose strength was used in the
                        detail line. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="VOLUME">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that volume was used in the detail
                        line. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FREE_TEXT_DOSE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that a free text was used in the detail
                        line. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NORMALIZED_RATE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that normalized rate was used in the
                        detail line. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FREE_TEXT_RATE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that a free text rate was used in the
                        detail line. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="RATE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that a rate was used in the detail
                        line. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="dischargeDetailCodeValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An object that holds Code values for a Report Order Detail. Since 5.8</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:long">
                <xsd:attribute name="patient-friendly-description" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="dischargeDetailDateTimeValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An object that holds DateTime values for a Report Order Detail. Since 5.8</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dateTimeType">
                <xsd:attribute name="display" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="dischargeDetailIndicatorValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An object that holds an Indicator value for a Report Order Detail.Since 5.8</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:boolean">
                <xsd:attribute name="display" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="dischargeDetailNumericValueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An object that holds Numeric values for a Report Order Detail. Since 5.8</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:double">
                <xsd:attribute name="display" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="reportPharmacy">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The name of the pharmacy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="address" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The address of the pharmacy. Formatted as a single string.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephone" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The phone number of the pharmacy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="orderDetailFieldType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Enumeration for the possible types of order entry
                fields. Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ALPHANUMERIC">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have
                        alphanumeric values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="INTEGER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have integer
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DECIMAL">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have decimal
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DATE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have Date
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DATE_TIME">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have Date/Time
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CODE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have codified
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="BOOLEAN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have boolean
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PROVIDER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have Provider
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LOCATION">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have Location
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ICD9">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have ICD9
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="PRINTER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have Printer
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="LIST">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have List
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="USER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have user
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ACCESSION">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have accession
                        values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SURGICAL_DURATION">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Type for order entry fields that have surgical
                        duration values. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="medication-reconciliation-data">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Patient friendly medication reconciliation
                information. Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="medication-reconciliation" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="reconciliationDetail">
        <xsd:attribute name="order-reconciliation-detail-id" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier of the order reconciliation detail.
                    Comes from ORDER_RECON_DETAIL.ORDER_RECON_DETAIL_ID. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="order-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier of the order. Will not be present
                    if this reconciliationDetail is for a change of venue order not created from an existing order.
                    ORDERS.ORDER. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="proposal-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The identifier of the order when there is a
                    proposed change. Will not be present if this reconciliationDetail is not for a change of venue
                    order. Comes from ORDER_RECON_DETAIL.ORDER_PROPOSAL_ID. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="patient-note" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Notes to the patient. From discharge
                    reconciliation report (ORDER_RECON and ORDER_RECON_DETAIL tables) and will only be the most
                    current notes to the patient for the medication order. Since 3.13
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="clinical-display-line" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The clinical display line of the order. Comes from
                    ORDER_RECON_DETAIL.CLINICAL_DISPLAY_LINE. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="simplified-display-line" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">A patient friendly display line for the order.
                    Comes from ORDER_RECON_DETAIL.SIMPLIFIED_DISPLAY_LINE. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="order-mnemonic" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The mnemonic for the order. Comes from
                    ORDER_RECON_DETAIL.ORDER_MNEMONIC. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="action-meaning" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The meaning of the reconciliation action taken on
                    the order. Comes from ORDER_RECON_DETAIL.RECON_ORDER_ACTION_MEAN. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="continue-type" type="reconciliationOrderContinueType" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The continue type taken on the order during
                    reconciliation. Comes from ORDER_RECON_DETAIL.CONTINUE_ORDER_IND. Since 5.4
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="medication-reconciliation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="performed-dt-tm" type="dateTimeType">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The date and time the reconciliation was
                            performed. Comes from ORDER_RECON.PERFORMED_DT_TM. Since 5.4
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="order-detail" type="reconciliationDetail" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="proposal-detail" type="reconciliationDetail" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="order-reconciliation-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the order reconciliation. Comes
                        from ORDER_RECON.ORDER_RECON_ID. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="performed-personnel-id" type="xsd:long" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the personnel who performed the
                        reconciliation. Comes from ORDER_RECON.PERFORMED_PRSNL_ID. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the encounter associated to the
                        reconciliation.Comes from ORDER_RECON.ENCNTR_ID. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="for-cross-encounter" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates if this reconciliation is a cross encounter reconciliation or not.
                        Comes from ORDER_RECON.CROSS_ENCNTR_IND. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="has-reconciled-orders" type="xsd:boolean" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates whether this medication-reconciliation
                        contains reconciled orders or not. Comes from ORDER_RECON.NO_KNOWN_MEDS_IND. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="location-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The code for the next level of care where the
                        patient will be admitted, transferred, or discharged to after reconciliation. This code comes
                        from Code set 4001974. Comes from ORDER_RECON.NEXT_LOC_CD. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="person-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the person on which the
                        reconciliation was performed. Comes from ORDER_RECON.PERSON_ID. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="status-code" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The reconciliation status code. This code comes
                        from Code set 4002695. Comes from ORDER_RECON.RECON_STATUS_CD. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="reconciliation-type" type="orderReconciliationType" use="required">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The type of reconciliation that was used to
                        reconcile the orders within this medication-reconciliation. Comes from
                        ORDER_RECON.RECON_TYPE_FLAG. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="orderReconciliationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Enumeration for the type of order reconciliations.
                Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ADMISSION">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation occurred during
                        the admissions process. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="TRANSFER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation occurred while
                        transferring. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DISCHARGE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation occurred during
                        the discharge process. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SHORT_TERM_LEAVE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation occurred before
                        a short term leave. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="RETURN_FROM_SHORT_TERM_LEAVE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the reconciliation occurred after
                        returning from a short term leave. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="reconciliationOrderContinueType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Enumeration for the type of continuation which
                should taken on an order after the reconciliation occurs. Since 5.4
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="UNRECONCILED">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the change of venue proposal was
                        unreconciled. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CONTINUE_ORDER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the order was continued without
                        changes. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DO_NOT_CONTINUE_ORDER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the order was discontinued. Since
                        5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CONTINUE_ORDER_WITH_CHANGES">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the order was continued with
                        changes. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ACKNOWLEDGE_ORDER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Indicates that the order was acknowledged by the
                        performing physician. Since 5.4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>