dyndoc/formats/schema/concept/social-history.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
    <xsd:include schemaLocation="../global/code/coded-values.xsd" />
    <xsd:include schemaLocation="../common/comment.xsd" />
    <xsd:include schemaLocation="../common/loose/loose-name.xsd" />
    <xsd:element name="social-history-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="social-history-information" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="social-history-information">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="category-activity" type="categoryActivityType" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The CategoryActivity represents activity data for a social history
                            category.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="updt-dt-tm" type="dateTimeType" minOccurs="0" />
            </xsd:sequence>
            <xsd:attribute name="unable-to-obtain" type="xsd:boolean" use="optional" />
            <xsd:attribute name="updt-prsnl-id" type="xsd:long" use="optional" />
            <xsd:attribute name="updt-dt-tm" type="xsd:dateTime" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use updt-dt-tm element
                        instead.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:property name="updt-dt-tm-deprecated" />
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="social-history-clinical-event-data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ce-smoking-status" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The Smoking Status information stored as a
                            Clinical Event.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ce-smoking-status">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="event-end-dt-tm" type="dateTimeType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">The date and time when the response was
                            documented.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="code-values" type="codedValuesType" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">This represents the documented response values.
                            Since 4.1.1.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the encounter this response was
                        documented on.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="event-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The unique identifier of the clinical event.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="nomenclature-id" type="xsd:long" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The identifier of the nomenclature. This
                        represents the documented response value.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="question-cki" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The concept cki of the question to which this
                        response was documented. This will always be the &#39;Smoking Status&#39; concept cki.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="categoryActivityType">
        <xsd:sequence>
            <xsd:element name="category-detail" type="categoryDetailType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Detailed information about the assessment values for a given social history
                        category.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="category-assessment" type="categoryAssessmentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Deprecated as of 3.11. Use assessment list
                        instead.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <jaxb:property name="category-assessment-deprecated" />
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="assessment" type="categoryAssessmentType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The assessment information for the category.
                        There should only be one assessment, but multiples may be returned for certain scenarios like
                        Patient Combines. Added since 3.11 version.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="category-cd" type="xsd:long" use="required" />
        <xsd:attribute name="category-reference-id" type="xsd:long" use="optional" />
    </xsd:complexType>
    <xsd:complexType name="categoryAssessmentType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Represents the data related to an assessment(positive, negative, etc.,) for a
                social history category.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="updt-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The update date/time for this assessment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="assessment-code" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The code representing the overall assessment for the category from code set
                    4002168. Examples include High Risk, No Risk, Low Risk.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="updt-prsnl-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The personnel that updated this assessment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="updt-dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use updt-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="updt-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="categoryDetailType">
        <xsd:sequence>
            <xsd:element name="comment" type="deprecatedCommentType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use category-detail-comment
                        instead.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="discrete-response" type="discreteResponseType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The discrete responses for each social history
                        category.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="category-detail-comment" type="commentType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The comments associated with this category detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="updt-dt-tm" type="dateTimeType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The update date/time for this category detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="summary-text" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The text summary of all the responses for this category detail.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="updt-prsnl-id" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The personnel that updated this category detail.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="updt-dt-tm" type="xsd:dateTime" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use updt-dt-tm element
                    instead.
                </xsd:documentation>
                <xsd:appinfo>
                    <jaxb:property name="updt-dt-tm-deprecated" />
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="status-code" type="xsd:long" use="required">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">This indicates the status of this category detail from codeset 4002172.
                    Examples include ACTIVE, INERROR.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="discreteResponseType">
        <xsd:sequence>
            <xsd:element name="alpha-response" type="looseNameType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines the alpha response in a textual or
                        codified format. (Ex. Smoking Use: Cigars, Cigarettes) Cigars and cigarettes would be two
                        alpha responses.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="modifier" type="discreteResponseModifierEnum" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The modifier associated with the response value
                    (AGE, ABOUT, BEFORE, etc.)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="discreteResponseTypeEnum" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The response type (ALPHA, FREETEXT, NUMERIC, etc.)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The response value. This string can consist of
                    characters and/or numbers. This value is populated when the type is anything but
                    &quot;ALPHA&quot;. When the type is &quot;NUMERIC&quot;, no guarantees should be made about the
                    format of this string.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="task-assay-cd" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The question or label of the response. (Code Set
                    14003)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="unit-cd" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The unit associated with the response value. (Code
                    Set 54)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:simpleType name="discreteResponseModifierEnum">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="AGE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This corresponds to 0 on SHX_RESPONSE.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ABOUT">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This corresponds to 1 on SHX_RESPONSE.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="BEFORE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This corresponds to 2 on SHX_RESPONSE.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="AFTER">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This corresponds to 3 on SHX_RESPONSE.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UNKNOWN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This corresponds to 4 on SHX_RESPONSE.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="discreteResponseTypeEnum">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="ALPHA">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This indicates the response was of type
                        &quot;ALPHA&quot;. Check the &#39;alpha responses&#39; attribute for more information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="FREETEXT">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This indicates the response was of type
                        &quot;FREETEXT&quot;. Check the &#39;value&#39; attribute for more information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="NUMERIC">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This indicates the response was of type
                        &quot;NUMERIC&quot;. Check the &#39;value&#39; attribute for more information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UNDEFINED">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This indicates the response was not defined. The
                        &#39;value&#39; attribute may contain information.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>