dyndoc/formats/schema/global/encounter.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
  <xsd:include schemaLocation="personnel/personnel.xsd" />
  <xsd:include schemaLocation="organization.xsd" />
  <xsd:include schemaLocation="../common/date-time/date-time.xsd" />
  <xsd:include schemaLocation="personnel/related-personnel.xsd" />
  <xsd:include schemaLocation="../common/healthplan/healthplan-relationship.xsd" />
  <xsd:complexType name="encounterDataType">
    <xsd:complexContent>
      <xsd:extension base="encounterType">
        <xsd:sequence>
          <xsd:element name="billing-diagnosis" type="billingDiagnosisType" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="medication-compliance" type="medicationComplianceDataType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="encounterType">
    <xsd:sequence>
      <xsd:element name="client" type="organizationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The client organization for the encounter.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="provider" type="relatedPersonnelType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The personnel that have a relationship with the
            patient. Active and Expired relationships are included.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="arrive-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The actual date/time that the patient arrived at
            the facility.From ENCOUNTER.ARRIVE_DT_TM.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="inpatient-admit-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The actual date/time that the patient admitted at
            the facility. From ENCOUNTER.INPATIENT_ADMIT_DT_TM. Since 5.10
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creation-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date/time the encounter is created. From
            ENCOUNTER.CREATE_DT_TM.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="depart-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The actual date/time that the patient left from
            the facility. In many cases, this field may not be valued unless the user process requires
            capturing this data. From ENCOUNTER.DEPART_DT_TM.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="discharge-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The actual date/time that the patient was
            discharged from the facility. For most outpatients, this may not be valued unless the user
            process requires capturing this data, for example, day surgery. This also may or may not be a
            system assigned date and time depending on the discharge process used. From
            ENCOUNTER.DISCH_DT_TM.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registration-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date/time that the registration or admission
            process was performed. From ENCOUNTER.REG_DT_TM.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="healthplan-relationship" type="healthplanRelationshipType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Contains the information needed for the
            HealthPlanRelationship
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="arrive-dt-tm" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The actual date/time that the patient arrived at
          the facility. From ENCOUNTER.ARRIVE_DT_TM.
        </xsd:documentation>
        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use arrive-dt-tm element
          instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="arrive-dt-tm-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="bed-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the bed location in the
          /report/location-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="building-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the building location in
          the /report/location-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="contributor-system-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the sytem that contributed
          this data. CS 89. Examples include: Cerner, eBooking. Full details are included in
          /report/code-list From ENCOUNTER.CONTRIBUTOR_SYSTEM_CD
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="creation-dt-tm" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This represents the actual date/time that the
          encounter was created in the system. It is derived from the create_dt_tm field of the encounter
          table.
        </xsd:documentation>
        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use creation-dt-tm element
          instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="creation-dt-tm-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="depart-dt-tm" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This represents the actual date/time that the
          patient left the facility. It is derived from the depart_dt_tm field of the encounter table.
          Deprecated as of 3.0. Use depart-dt-tm element instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="depart-dt-tm-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="discharge-destination" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the discharge destination
          in the location-list.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="discharge-disp-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The conditions under which the patient left the
          facility at the time of discharge. CS 19. Examples include Hospice Care, Long Term Care,
          Another Hospital. From ENCOUNTER.DISCH_DISPOSITION_CD.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="discharge-dt-tm" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use discharge-dt-tm element
          instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="discharge-dt-tm-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="encounter-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the identifier of this encounter.
          From ENCOUNTER.ENCNTR_ID
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="facility-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the facility location in
          the /report/location-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fin" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the formatted alias value for the
          financial number. From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fin-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the alias value for the financial number.
          From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="financial-class-code" type="xsd:long" use="optional" />
    <xsd:attribute name="length-of-service" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This the duration of the encounter in days. This
          is only valued when a registration and discharge date exists. The calculation is based upon a
          24 hour day and does not account for DST changes. Any value over a whole data increment is
          included.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="medical-service-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the medical service code. The medical
          service code is the type or category of medical service that the patient is receiving in
          relation to their encounter. The category may be of treatment type, surgery, general resources,
          or others. CS 34. From ENCOUNTER.MED_SERVICE_CD
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="mrn" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the formatted alias value for the medical
          record number. From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="mrn-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the alias value for the medical record
          number. From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ward-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the nurse unit or
          ambulatory location in the /report/location-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="registration-dt-tm" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 3.0. Use registration-dt-tm
          element instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="registration-dt-tm-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="requisition-nbr" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the formatted alias value for the
          requisition number. From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="requisition-nbr-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the alias value for the requisition
          number. From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="room-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This contains the id of the room location in
          /report/location-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type-class-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The type class code is used to categorize
          encounters into more general groups than encounter type. (i.e., inpatient, outpatient,
          emergency, recurring outpatient). (CS 69) From ENCOUNTER.ENCNTR_TYPE_CLASS_CD. Display
          information is included in /report/code-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The type code categorizes the encounter into a
          logical group or type. Examples may include inpatient, outpatient, etc. (CS 71) From
          ENCOUNTER.ENCNTR_TYPE_CD. Display information is included in /report/code-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="vip-cd" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The Very Important Person (VIP) code indicates
          that the person is to be identified and possibly treated with special consideration during the
          active time of the encounter. (i.e., employee, board member, famous person). (CS 67) From
          ENCOUNTER.VIP_CD. Display information is included in /report/code-list
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="visit-id" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the formatted alias value for the visit
          number. From ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="visit-id-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the alias value for the visit number. From
          ENCNTR_ALIAS.ALIAS
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="reason-for-visit" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The free text description of reason for visit.
          Otherwise known as admitting symptom, presenting symptom, etc. It is a brief description of why
          the person has presented for examination or treatment and may be the patient described symptom.
          From ENCOUNTER.REASON_FOR_VISIT.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="admit-type-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The admit type code indicates the circumstance under which the patient was admitted or will be admitted from Code Set 3.
          (i.e., urgent, emergency, routine, elective, labor/delivery, etc.). From ENCOUNTER.ADMIT_TYPE_CD.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="admit-source-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The admit source code identifies the place from which the patient came before being admitted from Code Set 2.
          (i.e., transfer from a hospital). From ENCOUNTER.ADMIT_SRC_CD.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="medicationComplianceDataType">
    <xsd:sequence>
      <xsd:element name="performed-dt-tm" type="dateTimeType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This indicates the date/time the medication
            compliance was performed for the corresponding encounter.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="no-known-home-meds-ind" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This indicates if the medication compliance for
          the corresponding encounter has no known medications. Both no-known-med-ind and
          unable-to-obtain-ind cannot be true, but both may be false which implies that encounter has
          known home meds documented.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="order-compliance-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This corresponds to the unique identifier for the
          ORDER_COMPLIANCE table.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unable-to-obtain-ind" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This indicates if the medication compliance for
          the corresponding encounter was unable to be obtained. Both no-known-med-ind and
          unable-to-obtain-ind cannot be true, but both may be false which implies that encounter has
          known home meds documented.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="meds-list-managed-ind" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">This indicates if the medication history has been
          managed in any way (HXs or RXs have been added or no known home meds has been checked).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="billingDiagnosisType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Used to represent billing diagnoses. Billing
        diagnoses are defined as those with a type of FINAL, DISCHARGE or REASON_FOR_VISIT. Since 3.8
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="diagnosis-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date/time at which the diagnosis was saved.
            From DIAGNOSIS.DIAG_DT_TM
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="annotated-display" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">A denormalized and possibly annotated description
          of the clinical diagnosis. From DIAGNOSIS.DIAGNOSIS_DISPLAY
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="description" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The freetext description of the diagnosis. From
          DIAGNOSIS.DIAG_FTDESC
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier for the diagnosis. From
          DIAGNOSIS.DIAGNOSIS_ID
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="nomenclature-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The unique identifier for the nomenclature for the
          diagnosis. From DIAGNOSIS.NOMENCLATURE_ID
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="personnel-id" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The Id of the personnel that added the diagnosis.
          From DIAGNOSIS.DIAG_PRSNL_ID
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="priority" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The priority of the diagnosis as determined by
          application. From DIAGNOSIS.DIAG_PRIORITY
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type-cd" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The type of the diagnosis from code set 17. From
          DIAGNOSIS.DIAG_TYPE_CD
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>