dyndoc/formats/schema/global/patient.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
  <xsd:include schemaLocation="../common/address.xsd" />
  <xsd:include schemaLocation="person/person-name.xsd" />
  <xsd:include schemaLocation="person/person-alias.xsd" />
  <xsd:include schemaLocation="../common/date-time/fuzzy-date.xsd" />
  <xsd:include schemaLocation="personnel/related-personnel.xsd" />
  <xsd:include schemaLocation="../common/contact-method/phone.xsd" />
  <xsd:include schemaLocation="../common/contact-method/email.xsd" />
  <xsd:include schemaLocation="../common/healthplan/patient-healthplan-relationship.xsd" />
  <xsd:include schemaLocation="../common/patient-healthcard.xsd" />
  <xsd:include schemaLocation="organization.xsd" />
  <xsd:complexType name="patientType">
    <xsd:sequence>
      <xsd:element name="contact-methods" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="phone" type="phoneType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="email" type="emailType" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="birth-dt-tm" type="fuzzyDateType" minOccurs="0" />
      <xsd:element name="deceased-dt-tm" type="fuzzyDateType" minOccurs="0" />
      <xsd:element name="patient-name" type="personNameType" />
      <xsd:element name="historical-patient-name" type="personNameType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This list of elements contains all but the currently effective name. Since 6.2</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="person-alias" type="personAliasType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Since 6.12. Returns all active and effective aliases associated with the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="home-address" type="addressType" minOccurs="0" />
      <xsd:element name="mrn" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="mrn-unformatted" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="patient-provider" type="relatedPersonnelType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="email-address" type="emailAddressType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use elements from
            EmailType instead.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="health-card" type="patientHealthCardType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Zero to many occurances of active health cards</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="race-code" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the race of the patient (codeSet:
            282).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ethnicity-code" type="xsd:long" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the ethnic group of the patient
            (codeSet: 27). Since 4.0
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="guarantor-relationship" type="guarantorType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the information of the patient guarantor.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="patient-healthplan-relationship" type="patientHealthplanRelationshipType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the information of the patient's health plan.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="age" type="xsd:string" use="optional" />
    <xsd:attribute name="age-at-registration" type="xsd:string" use="optional" />
    <xsd:attribute name="alternate-phone" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-formatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="alternate-phone-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-unformatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="business-phone" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-formatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="business-phone-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-unformatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cmrn" type="xsd:string" use="optional" />
    <xsd:attribute name="cmrn-unformatted" type="xsd:string" use="optional" />
    <xsd:attribute name="e-mail" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use email-address from emailType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="emergency-contact" type="xsd:string" use="optional" />
    <xsd:attribute name="ethnicity-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Represents the ethnic group of the patient
          (codeSet: 27). Deprecated as of 4.0. Use ethnicity-code element instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="ethnicity-code-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="gestational-age" type="xsd:string" use="optional" />
    <xsd:attribute name="home-phone" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-formatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="home-phone-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-unformatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="maiden-name" type="xsd:string" use="optional" />
    <xsd:attribute name="marital-status-code" type="xsd:long" use="optional" />
    <xsd:attribute name="outreach-person" type="xsd:string" use="optional" />
    <xsd:attribute name="outreach-person-unformatted" type="xsd:string" use="optional" />
    <xsd:attribute name="passport-id" type="xsd:string" use="optional" />
    <xsd:attribute name="passport-id-unformatted" type="xsd:string" use="optional" />
    <xsd:attribute name="person-id" type="xsd:long" use="optional" />
    <xsd:attribute name="primary-language-code" type="xsd:long" use="optional" />
    <xsd:attribute name="race-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Represents the race of the patient (codeSet: 282).
          Deprecated as of 3.8. Use race-code element instead.
        </xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="race-code-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="referring-mrn" type="xsd:string" use="optional" />
    <xsd:attribute name="referring-mrn-unformatted" type="xsd:string" use="optional" />
    <xsd:attribute name="religion-code" type="xsd:long" use="optional" />
    <xsd:attribute name="birth-sex-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Returns the birth sex of the person that refers to the biological characteristics
          such as reproductive anatomy, genetic makeup, and chromosomes that define the sex of the person. It will
          typically be the sex that the person was at the time of their birth but it may be updated for clinical purposes
          after a sex-reassignment operation, treatment, etc. This should be primarily used for clinical purposes.
          From Code Set 56
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="administrative-sex-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Represents the administrative sex of the person
          which is asserted by the person when they present to administrative users.
          The value would be used for all administrative activities such as general verbal,
          written communication with the person or bed placement decisions , etc. From Code Set 57.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sex-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation>Deprecated as of 6.6. Use administrative-sex-code instead.</xsd:documentation>
        <xsd:appinfo>
          <jaxb:property name="sex-code-deprecated" />
        </xsd:appinfo>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="species-code" type="xsd:long" use="optional" />
    <xsd:attribute name="ssn" type="xsd:string" use="optional" />
    <xsd:attribute name="ssn-unformatted" type="xsd:string" use="optional" />
    <xsd:attribute name="state-health-nbr" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 3.5. Use attributes from
          health-card element instead.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="state-health-nbr-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 3.5. Use attributes from
          health-card element instead.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="guarantorType">
    <xsd:sequence>
      <xsd:element name="begin-effective-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the date and time at which the relationship became effective.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="end-effective-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the date and time at which the relationship is no longer effective.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="patient-guarantor-relationship" type="patientGuarantorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents information about a guarantor relationship with a person entity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="guarantor-organization" type="organizationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents information about a guarantor relationship with a organization entity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="priority" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Priority or precedence that guarantor relationship has another over another with the profile.
          The lower the value the higher the priority of the relationship. Always > 0.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="patientGuarantorType">
    <xsd:sequence>
      <xsd:element name="guarantor-financial-resp" type="guarantorFinancialResponsibilityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the information of the person that is related to the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="related-person-name" type="personNameType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the name of the person that is related to the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="related-person-address" type="addressType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the address of the person that is related to the patient.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="telecomm-contact-methods" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Represents the telecommunication and email information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="phone" type="phoneType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="email" type="emailType" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="email-address" type="emailAddressType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use elements from
            EmailType instead.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="related-person-id" type="xsd:long">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Represents the information of the person that is related to the patient.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="alternate-phone" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-formatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="alternate-phone-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-unformatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="business-phone" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-formatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="business-phone-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-unformatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="home-phone" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-formatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="home-phone-unformatted" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use phone-unformatted from phoneType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="e-mail" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Deprecated as of 5.11. Use email-address from emailType instead.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="relation-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Represents the related person's relationship to the patient. From Code Set 40.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="inverse-relation-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">Represents the patient's relationship to the related person. From Code Set 40.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="guarantorFinancialResponsibilityType">
    <xsd:sequence>
      <xsd:element name="begin-effective-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date and time at which the guarantor's financial responsibility becomes effective.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="end-effective-dt-tm" type="dateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The date and time at which the guarantor's financial responsibility is no longer effective.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="financial-responsibility-type-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The codified value of the guarantor's financial responsibilities.From Code Set 387572.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="financial-responsibility-value" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The value of the guarantor financial responsibility.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="financial-responsibility-qualifier-code" type="xsd:long" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The codified qualifier defining how the guarantor financial responsibility should be expressed.From Code Set 387573.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="emailAddressType">
    <xsd:attribute name="email-address" type="xsd:string" use="required" />
    <xsd:attribute name="type-code" type="xsd:long" use="required" />
    <xsd:attribute name="type-sequence" type="xsd:int" use="required" />
  </xsd:complexType>
</xsd:schema>