dyndoc/filters/schema/ImplantedDevicesFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:include schemaLocation="QueryLevelFilter.xsd" />
   <xs:element name="implanteddevicesfilter">
      <xs:complexType>
         <xs:annotation>
            <xs:documentation xml:lang="en">
               This schema defines the format of a Implanted Devices filter XML structure.

			   If querylevel is set to PERSON_LEVEL all implants for the patient would be returned, if ENCOUNTER_LEVEL then only those for current ecounter would be returned.
               If the includeexplanteddevices flag is set to true in the XML, then explanted devices will not be returned.
            </xs:documentation>
         </xs:annotation>
         <xs:sequence>
            <xs:element ref="querylevel" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="includeexplanteddevices" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="includeexplanteddevices">
      <xs:complexType>
         <xs:attribute name="value" type="xs:boolean" use="required" />
      </xs:complexType>
   </xs:element>
</xs:schema>
