dyndoc/filters/schema/ProblemsFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:include schemaLocation="code.xsd" />
   <xs:include schemaLocation="classification.xsd" />
   <xs:element name="problemsfilter">
      <xs:complexType>
         <xs:annotation>
            <xs:documentation xml:lang="en">
               This schema defines the format of a Problems filter XML structure.

               If classification codes are provided in the XML, then only problems of those classifications will be returned.
               If lifecyclestatus codes are provided in the XML, then only problems of those life cycle statuses will be returned.
               If the excludenonmedicalhistory flag is set to true in the XML, then non-medical problems will not be returned.
            </xs:documentation>
         </xs:annotation>
         <xs:sequence>
            <xs:element ref="classification" minOccurs="0" maxOccurs="1" />
            <xs:element ref="lifecyclestatus" minOccurs="0" maxOccurs="1" />
            <xs:element ref="excludenonmedicalhistory" minOccurs="0" maxOccurs="1" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="lifecyclestatus">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="code" minOccurs="1" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="excludenonmedicalhistory">
      <xs:complexType>
         <xs:attribute name="value" type="xs:boolean" use="required" />
      </xs:complexType>
   </xs:element>
</xs:schema>
