dyndoc/formats/schema/common/event/event-order.xsd

<xsd:schema xmlns="urn:com-cerner-patient-ehr:v3" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="urn:com-cerner-patient-ehr:v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4" jaxb:version="2.0">
    <xsd:complexType name="eventOrderType">
        <xsd:attribute name="order-id" type="xsd:long" use="required" />
        <xsd:attribute name="template-order-id" type="xsd:long" use="optional" />
    </xsd:complexType>
</xsd:schema>